<template>
  <div class="manage-booking">
    <h1 class="title title-first ">Manage Booking</h1>
    <div class="items">
      <div class="item">
        <div class="info">
          <h2 class="name">Kalapattar Trek</h2>
          <span class="date">Oct 28 - Oct 31</span>
          <span class="your-id">Trip id : <span class="underline">RT20156875</span></span>
        </div>
        <div class="action">
          <button class="btn btn-change" type="button">Change</button>
          <button class="btn btn-cancel" type="button">Cancel</button>
        </div>
      </div>
      <div class="item">
        <div class="info">
          <h2 class="name">Kalapattar Trek</h2>
          <span class="date">Oct 28 - Oct 31</span>
          <span class="your-id">Trip id : <span class="underline">RT20156875</span></span>
        </div>
        <div class="action">
          <button class="btn btn-change" type="button" name="button">Change</button>
          <button class="btn btn-cancel" type="button" name="button">Cancel</button>
        </div>
      </div>
      <div class="item">
        <div class="info">
          <h2 class="name">Kalapattar Trek</h2>
          <span class="date">Oct 28 - Oct 31</span>
          <span class="your-id">Trip id : <span class="underline">RT20156875</span></span>
        </div>
        <div class="action">
          <button class="btn btn-change" type="button" name="button">Change</button>
          <button class="btn btn-cancel" type="button" name="button">Cancel</button>
        </div>
      </div>
    </div>
    <div class="help">
      <h1 class="title">We’re here to help</h1>
      <span>Confirmation # P2BXL7<br>
          Trip id :  <span href="#" class="link">RT20156875</span><br>
      </span>
      <div class="support">
        <span class="support-link">ROYAL THIRILLS SUPPORT</span><br>
        Contact Royal thrills if you need help managing this itinerary
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ManageBooking',
    components: {},
    data() {
      return {
        isActive: false
      }
    }
  }
</script>

<style scoped>
  body {
    overflow-x: hidden;
  }

  h2 {
    padding: 0;
    margin: 0;
  }

  .help .title {
    padding: 0;

  }

  .manage-booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 0;
  }

  .title {
    color: #19216c;
    font-size: 65px;
  }

  .title-first {
    font-weight: bold;
    text-transform: none;
    margin-top: 110px;
    text-transform: uppercase;
  }

  .items {
    display: flex;
    flex-direction: column;
    width: 62%;
    margin-top: 90px;
  }

  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px;
    margin-top: 35px;
    background-color: #fefefe;
    border-radius: 5px;
  }

  .item:hover {
    background-color: #f22359;
    color: #ffffff;
  }

  .name {
    font-size: 40px;
    font-weight: 500;
  }

  .date {
    font-size: 30px;
    font-weight: 300;
    margin-top: 25px;

  }

  .your-id {
    font-size: 27px;
    font-weight: 200;
    margin-top: 50px;
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .link {
    text-transform: uppercase;
    text-decoration: underline;
  }

  .link-active {
    color: #fff;
  }

  .btn {
    width: 115px;
    height: 50px;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.3);
  }

  .action .btn:last-child {
    margin-left: 30px;
  }

  .btn-change {
    background: #f33264;
    color: #ffffff;
  }

  .btn-cancel {
    background: #b5b5b5;
    color: #202020;
  }

  .item:hover .btn-change {
    background: #ffffff;
    color: #f33264;

  }

  .item:hover .btn-cancel {
    background: #f1f1f1;
  }

  .help {
    text-align: center;
    margin-top: 220px;
    font-size: 24px;
  }

  .help .title {
    font-weight: 400;
    padding-bottom: 30px;
    font-size: 40px;
  }

  .support {
    margin-top: 50px;
  }

  .support-link {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 39px;
    color: #f22359;
    font-weight: 500;
    text-align: center;
  }

  .underline {
    text-decoration: underline;
  }

  @media (max-width: 1650px) and (min-width: 1200px) {
    .items {
      width: 70%;
      margin-top: 60px;
    }

    .item {
      padding: 30px;
    }

    .title-first {
      margin-top: 85px;
    }

    .title {
      font-size: 48.5px;
    }

    .name {
      font-size: 30px
    }

    .date {
      font-size: 22.5px;
      margin-top: 15px;
    }

    .your-id {
      font-size: 21.25px;
      margin-top: 30px;
    }

    .btn {
      width: 90px;
      height: 45px;
      font-size: 15px;
    }

    .help {
      font-size: 22.5px;
      margin-top: 150px;
    }

    .help .title {
      font-size: 33.5px;
    }
  }

  @media (max-width: 1199px) and (min-width: 992px) {
    .items {
      width: 80%;
      margin-top: 50px;
    }

    .title-first {
      margin-top: 65px;
    }

    .item {
      padding: 22px;
    }

    .title {
      font-size: 39px;
    }

    .name, .date {
      font-size: 16.5px;
    }

    .date {
      margin-top: 15px;
    }

    .your-id {
      font-size: 15px;
      margin-top: 30px;
    }

    .btn {
      width: 80px;
      height: 40px;
      font-size: 13px;
    }

    .help {
      font-size: 16.5px;
      margin-top: 110px
    }

    .help .title {
      font-size: 24px;
    }
  }

  @media (max-width: 991px) {
    .items {
      width: 85%;
      margin-top: 0;
    }

    .title-first {
      margin-top: 80px;
    }

    .item {
      padding: 20px 30px;
      margin-top: 20px;
    }

    .title {
      font-size: 40px;
    }

    .name, .date {
      font-size: 25.5px;
    }

    .date, .your-id {
      font-size: 19px;
    }

    .date {
      margin-top: 15px;
    }

    .your-id {
      margin-top: 30px;
    }

    .btn {
      width: 75px;
      height: 37.5px;
      font-size: 12.5px;
    }

    /* .action{
      flex-direction: column;
    } */
    .action .btn:last-child {
      margin-left: 20px;
    }

    .help {
      text-align: center;
      margin-top: 90px;
      width: 85%;
    }

    .help .title {
      font-weight: 400;
      padding-bottom: 10px;
    }

    .support {
      margin-top: 0px;
    }

    .help {
      font-size: 24px;
    }

    .help .title {
      font-size: 40px;
    }
  }


  @media (max-width: 575px) {
    /* .item{
      flex-direction: column;
      align-items: center;

    } */
    .item {
      padding: 10px 20px;
    }

    .title-first {
      margin-top: 60px;
    }

    .title {
      font-size: 30px;
    }

    .name {
      font-size: 12.5px;
    }

    .date, .your-id {
      font-size: 10px;
    }

    .date {
      margin-top: -2px;
    }

    .your-id {
      margin-top: 10px;
    }

    .btn {
      width: 60px;
      height: 24.5px;
      font-size: 10px;
    }

    .help {
      font-size: 18px;
    }

    .help .title {
      font-size: 30px;
    }

    .support {
      margin-top: 0;
    }

    .help {
      font-size: 14px;
      margin-top: 55px;

    }

    .help .title {
      font-size: 28px;
      padding-bottom: 20px;
    }

  }

  @media (max-width: 396px) {
    .title {
    }

    .item {
      padding: 5px 10px;
    }

    .title-first {
      margin-top: 40px;
    }

    .name {
      font-size: 10.5px;
    }

    .date, .your-id {
      font-size: 9px;
    }

    .date {
      margin-top: 5px;
    }

    .your-id {
      margin-top: 15px;
    }

    .btn {
      width: 55px;
      height: 22.5px;
      font-size: 8px;
    }

    .action .btn:last-child {
      margin-left: 10px;
    }

    .help {
      font-size: 11px;
      margin-top: 55px;
    }

    .help .title {
      font-size: 20px;
      padding-bottom: 15px;
    }
  }
</style>
