<template>
  <a :href="link">
    <div class="button" :style="{'background-color': color}">
      <div class="icon" v-if="icon"><img :src="icon" alt=""></div>
      <div class="text" v-if="text"><span>{{ text }}</span></div>
    </div>
  </a>
</template>

<script>
  export default {
    name: "icon-text-button",
    props: {
      icon: {
        type: String,
        default: function () {
          return '';
        }
      },
      text: {
        type: String,
        default: function () {
          return '';
        }
      },
      color: {
        type: String,
        default: function () {
          return '#465993'
        }
      },
      link: {
        type: String,
        default: function () {
          return ''
        }
      },
      callback: {
        type: Function,
        default: function () {
          return () => {
          }
        }
      }
    }
  }
</script>

<style scoped>
  a {
    display: block;
  }

  .button {
    border-radius: 5px;
    height: 78px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
  }

  .text span {
    line-height: 77px;
    color: white;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 500;
  }

  .icon {
    float: left;
    height: 100%;
    width: 50px;
  }

  .icon img {
    height: 100%;
    margin: 0 auto;
    display: block;
  }

  @media (max-width: 767px) and (min-width: 576px) {
    .text span {
      line-height: 50px;
      font-size: 25px;
    }

    .button {
      height: 55px;
    }
  }

  @media (max-width: 575px) {
    .text span {
      line-height: 50px;
      font-size: 20px;
    }

    .button {
      height: 50px;
    }
  }
</style>
