<template>
  <div class="manage-booking">
    <h1 class="title title-first">ADD ON THRILLS</h1>
    <div class="subtitle">Everest Base Camp & Kala Pattar</div>
    <div class="trek">Trek Days : 22 Sep 2019 - 8 Oct 2019</div>
    <div class="t-able">You will not be able to book add on thrills during your trek days</div>
    <div class="trek">Thrill confirmation number AH123568</div>
    <div class="thrills_card">
      <figure>
        <img src="../../src/assets/moreThrills/river.jpg" alt="" title=""/>
        <figcaption>PARAGLIDING</figcaption>
      </figure>
      <div class="rightthrills">
        <big>50% off</big>
        <h5>Be a bird in the pristine valleys</h5>
        <div class="subt">Fly down from a cliff down into the valley of flowers enjoying a birds eye view of nature.
        </div>
        <div class="timeSec container">
          <div class="row">
            <checkbox name="remember" class="col-xl-6 col-md-5 col-7">Select Thrills</checkbox>
            <div class="thrillstime col-xl-6 col-md-3 col-5"><i></i><span>4h 30 m</span></div>
            <div class="trabl">
              <div class="thrill_price col-md-6 col-6"><small>USD" </small><strong>$125</strong><strike> $
                250</strike><small class="thr_per">Per person</small></div>
              <div class="datearea col-md-6 col-6">
                <a href="#"><i> <img src="../../src/assets/moreThrills/shape.png"></i> Pick your date</a>
              </div>
            </div>
          </div>
        </div>
        <div class="members container">
          <div class="row" style="width:100%">
            <div :class="`${activeNames.includes(index) ? 'people active col-md-3 col-6' : 'people col-md-3 col-6'}`"
                 :key="index" v-for="(user, index) in name" @click="togglePeople(index)"><i> <img class="noact"
                                                                                                  src="../../src/assets/moreThrills/people.png">
              <img class="act" src="../../src/assets/moreThrills/people1.png"> </i> {{user}} <i
              :class="`${activeNames.includes(index) ? 'mark active' : 'mark'}`"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="thrills_card">
      <figure>
        <img src="../../src/assets/moreThrills/river.jpg" alt="" title=""/>
        <figcaption>RIVER RAFTING</figcaption>
      </figure>
      <div class="rightthrills">
        <big>50% off</big>
        <h5>Learn to raft from the professionals</h5>
        <div class="subt">Raft with professional help through teh Baes river with rapids upto level 3</div>
        <div class="timeSec container">
          <div class="row">
            <checkbox name="remember" class="col-xl-6 col-md-5 col-7">Select Thrills</checkbox>
            <div class="thrillstime col-xl-6 col-md-3 col-5"><i></i><span>4h 30 m</span></div>
            <div class="trabl">
              <div class="thrill_price col-md-6 col-6"><small>USD" </small><strong>$125</strong><strike> $
                250</strike><small class="thr_per">Per person</small></div>
              <div class="datearea col-md-6 col-6">
                <a href="#"><i> <img src="../../src/assets/moreThrills/shape.png"></i> Pick your date</a>
              </div>
            </div>
          </div>
        </div>
        <div class="members container">
          <div class="row" style="width:100%">
            <div :class="`${activeNames.includes(index) ? 'people active col-md-3 col-6' : 'people col-md-3 col-6'}`"
                 :key="index" v-for="(user, index) in name" @click="togglePeople(index)"><i> <img class="noact"
                                                                                                  src="../../src/assets/moreThrills/people.png">
              <img class="act" src="../../src/assets/moreThrills/people1.png"> </i> {{user}} <i
              :class="`${activeNames.includes(index) ? 'mark active' : 'mark'}`"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="thrills_card">
      <figure>
        <img src="../../src/assets/moreThrills/river.jpg" alt="" title=""/>
        <figcaption>RIVER RAFTING</figcaption>
      </figure>
      <div class="rightthrills">
        <big>50% off</big>
        <h5>Be a bird in the pristine valleys</h5>
        <div class="subt">Fly down from a cliff down into the valley of flowers enjoying a birds eye view of nature.
        </div>
        <div class="timeSec container">
          <div class="row">
            <checkbox name="remember" class="col-xl-6 col-md-5 col-7">Select Thrills</checkbox>
            <div class="thrillstime col-xl-6 col-md-3 col-5"><i></i><span>4h 30 m</span></div>
            <div class="trabl">
              <div class="thrill_price col-md-6 col-6"><small>USD" </small><strong>$125</strong><strike> $
                250</strike><small class="thr_per">Per person</small></div>
              <div class="datearea col-md-6 col-6">
                <a href="#"><i> <img src="../../src/assets/moreThrills/shape.png"></i> Pick your date</a>
              </div>
            </div>
          </div>
        </div>
        <div class="members container">
          <div class="row" style="width:100%">
            <div :class="`${activeNames.includes(index) ? 'people active col-md-3 col-6' : 'people col-md-3 col-6'}`"
                 :key="index" v-for="(user, index) in name" @click="togglePeople(index)"><i> <img class="noact"
                                                                                                  src="../../src/assets/moreThrills/people.png">
              <img class="act" src="../../src/assets/moreThrills/people1.png"> </i> {{user}} <i
              :class="`${activeNames.includes(index) ? 'mark active' : 'mark'}`"></i></div>
          </div>
        </div>
      </div>
    </div>
    <a href="#">
      <div class="button pink-button book">Continue</div>
    </a>
  </div>
</template>

<script>
  import checkbox from "~/components/form/checkbox.vue"

  export default {
    name: 'ManageBooking',
    components: {
      checkbox
    },

    data() {
      return {
        isActive: false,
        name: [
          "John",
          "James",
          "Bond",
          "Jim",
          "Nancy",
          "Cameron",
          "Johnny",
          "William"
        ],
        activeNames: []
      }
    },

    methods: {
      togglePeople(index) {
        if (this.activeNames.includes(index)) {
          const id = this.activeNames.findIndex(name => name === index);
          this.activeNames.splice(id, 1);
        } else {
          this.activeNames.push(index);
        }
      }
    }
  }
</script>

<style scoped>
  body {
    overflow-x: hidden;
  }

  .manage-booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 0;
  }

  .title {
    color: #19216c;
    font-size: 65px;
  }

  .title-first {
    font-weight: bold;
    text-transform: none;
    margin-top: 110px;
  }

  .subtitle {
    font-size: 40px;
    color: #19216c;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .trek {
    font-size: 30px;
    line-height: 44px;
    font-weight: 500;
  }

  .t-able {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  /deep/ span.slot {
    font-size: 24px;
    line-height: 5px;
    color: #f22359 !important;
    font-family: "Sharp Sans No1";
    font-weight: 500;
  }

  /deep/ .checkbox {
    margin-top: 5px;
  }

  .thrills_card {
    background-color: #FFFFFF;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 16px -5px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 10px 16px -5px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 10px 16px -5px rgba(0, 0, 0, 0.13);
    float: none;
    width: 96%;
    height: 100%;
  }

  .thrills_card figure {
    float: left;
    position: relative;
    width: 50%;
    margin-bottom: 0px;
  }

  .thrills_card figure img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
  }

  .thrills_card figcaption {
    position: absolute;
    top: 0px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.5);
    color: #19216c;
    font-family: 'Sharp Sans No1';
    font-size: 27px;
    padding: 10px;
    letter-spacing: 1px;
    font-weight: bold;
  }

  .rightthrills {
    width: 50%;
    float: left;
    padding: 30px 10px 30px 30px;
    position: relative;
  }

  .rightthrills big {
    position: absolute;
    right: 15px;
    top: 15px;
    font-family: "Sharp Sans No1";
    font-weight: bold;
    color: #f22359;
    font-size: 30px
  }

  .rightthrills h5 {
    font-family: "Sharp Sans No1";
    font-weight: bold;
    color: #19216c;
    font-size: 30px;
  }

  .rightthrills p {
    color: #131313;
    font-size: 22px;
  }

  .thrillstime {
    float: left;
  }

  .thrillstime i {
    width: 40px;
    height: 40px;
    background: url("../../src/assets/moreThrills/hour-icon.svg") no-repeat;
    float: left;
  }

  .trabl {
    width: 100%;
  }

  .datearea a > i {
    width: 30px;
    height: 47px;
    float: left;
    margin-right: 10px;
  }

  .thrill_price {
    float: right;
    position: absolute;
    top: -8px;
    right: -130px;
  }

  .thrill_price strong {
    font-size: 28px;
  }

  .thrill_price .thr_per {
    width: 100%;
    float: left;
  }

  strike, .thrill_price .thr_per {
    opacity: 0.5;
  }

  .datearea {
    width: 100%;
    float: left;
  }

  .timeSec {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0;
    margin-bottom: 40px;
  }

  .datearea p {
    margin-top: 20px;
  }

  .datearea a {
    color: #f22359;
    font-size: 24px;
  }

  .datearea input {
    width: 50px;
    margin-left: 10px;
    border: 1px solid #333;
    text-align: center;
    padding: 3px;
  }

  .thrillstime span {
    margin-top: 5px;
    float: left;
    font-size: 18px;
  }

  .people i:first-child {
    width: 30px;
    margin-top: 8px;
    margin-right: 10px;
    height: 47px;
    float: left;
  }

  i.mark {
    display: none;
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 35px;
    background: url("../../src/assets/moreThrills/mark.png") no-repeat;
    float: left;
  }

  .people {
    border-radius: 5px;
    background-color: #ebebeb;
    margin: 5px;
    padding: 0 0 0 5px;
    max-width: 23%;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 23px;
    font-weight: 500;
  }

  .people.active {
    background-color: #f22359;
    color: #fff;
  }

  .people.active i.mark {
    display: block;
  }

  img.act {
    display: none;
  }

  img.noact {
    display: block;
  }

  .people.active img.noact {
    display: none;
  }

  .people.active img.act {
    display: block;
  }

  .members {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .subt {
    font-size: 24px;
    color: #131313;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .btn {
    width: 115px;
    height: 50px;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.3);
  }

  .action .btn:last-child {
    margin-left: 30px;
  }

  .btn-change {
    background: #f33264;
    color: #ffffff;
  }

  .btn-cancel {
    background: #b5b5b5;
    color: #202020;
  }

  .btn-change-active {
    background: #ffffff;
    color: #f33264;
  }

  .btn-cancel-active {
    background: #f1f1f1;
  }

  .pink-button.book {
    margin-top: 40px;
  }

  @media (max-width: 1650px) and (min-width: 1200px) {
    .title-first {
      margin-top: 85px;
    }

    .title {
      font-size: 48.5px;
    }

    .subtitle {
      font-size: 30px;
    }

    .name {
      font-size: 30px
    }

    .people {
      font-size: 12px;
    }

    .date {
      font-size: 22.5px;
      margin-top: 15px;
    }

    .your-id {
      font-size: 21.25px;
      margin-top: 30px;
    }

    .btn {
      width: 90px;
      height: 45px;
      font-size: 15px;
    }

    .thrill_price {
      float: right;
      position: absolute;
      top: -8px;
      right: -130px;
    }

    .pink-button.book {
      margin-top: 40px;
    }
  }

  @media (max-width: 1199px) and (min-width: 992px) {
    .title-first {
      margin-top: 65px;
    }

    .title {
      font-size: 39px;
    }

    .subtitle {
      font-size: 30px;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    .name, .date {
      font-size: 16.5px;
    }

    .date {
      margin-top: 15px;
    }

    .your-id {
      font-size: 15px;
      margin-top: 30px;
    }

    .btn {
      width: 80px;
      height: 40px;
      font-size: 13px;
    }

    .people {
      font-size: 10px;
    }

    .thrill_price {
      position: relative;
      right: -40px;
    }

    .pink-button.book {
      margin-top: 0px;
    }
  }

  @media (max-width: 991px) {
    .thrills_card figure, .rightthrills {
      width: 100%;
    }

    .title-first {
      margin-top: 60px;
    }

    .title {
      font-size: 40px;
    }

    .subtitle {
      font-size: 30px;
    }

    .people {
      font-size: 15px;
    }

    .name, .date {
      font-size: 25.5px;
    }

    .date, .your-id {
      font-size: 19px;
    }

    .date {
      margin-top: 15px;
    }

    .your-id {
      margin-top: 30px;
    }

    .btn {
      width: 75px;
      height: 37.5px;
      font-size: 12.5px;
    }

    .action .btn:last-child {
      margin-left: 20px;
    }

    .thrill_price strong {
      font-size: 20px;
    }

    strike, .thrill_price .thr_per {
      font-size: 14px;
    }

    .thrill_price {
      position: relative;
      right: 40px;
    }

    .pink-button.book {
      margin-top: 0px;
    }
  }

  @media (max-width: 575px) {
    .title-first {
      margin-top: 60px;
    }

    .title {
      font-size: 30px;
    }

    .subtitle {
      font-size: 25px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .subt {
      font-size: 16px
    }

    .people {
      font-size: 15px;
    }

    .rightthrills h5 {
      font-size: 25px;
    }

    .trek, .t-able {
      font-size: 20px;
      text-align: center;
    }

    .datearea a, /deep/ span.slot {
      font-size: 18px;
      font-family: "Sharp Sans No1";
      font-weight: 500;
    }

    .rightthrills big {
      top: 0px;
      font-size: 20px
    }

    .people {
      max-width: 45%;
    }

    .name {
      font-size: 12.5px;
    }

    .date, .your-id {
      font-size: 10px;
    }

    .date {
      margin-top: 15px;
    }

    .your-id {
      margin-top: 30px;
    }

    .btn {
      width: 75px;
      height: 37.5px;
      font-size: 10px;
    }

    .rightthrills {
      padding: 5%
    }

    .thrill_price {
      position: relative;
      right: -40px;
    }

    .pink-button.book {
      margin-top: 0px;
    }

    .thrills_card figcaption {
      font-size: 22px
    }
  }

  @media (max-width: 396px) {
    .title-first {
      margin-top: 40px;
    }

    .name {
      font-size: 10.5px;
    }

    .date, .your-id {
      font-size: 9px;
    }

    .date {
      margin-top: 5px;
    }

    .your-id {
      margin-top: 15px;
    }

    .btn {
      width: 55px;
      height: 22.5px;
      font-size: 8px;
    }
  }
</style>
