<template>
    <div>
      <ChangeThrillPopup/>
    </div>
</template>

<script>

import ChangeThrillPopup from '~/components/pages/change-thrill-popup/ChangeThrillPopup.vue'

export default {
  name: 'change-thrill-popup',
  components: {
    ChangeThrillPopup,
  },
  data() {
    return {

    }
  }
}
</script>

<style scoped>

</style>
