<template>
  <div id="blog-main">
    <!-- TOP BANNER -->
    <banner-sale/>
    <!-- END TOP BANNER -->
    <!-- CONTENT -->
    <section class="container content container-custom">
      <!-- SEARCH BOX -->
      <div class="row">
        <div class="search-box col-md-7 offset-md-2 col-center">
          <div class="wrap-search">
            <input type="text" name="search" placeholder="What are you searching for?" class="search-block">
          </div>
        </div>
      </div>
      <!-- END SEARCH BOX -->
      <div class="row">
        <!-- TOPICS LIST -->
        <div class="col-md-2 col-left">
          <h3>Topics</h3>
          <topics-list/>
        </div>
        <!-- BLOG ITEMS -->
        <div class="search-box col-md-7 col-center">
          <blog-list-item
            :title="'Diffrence between trekking and hiking'"
            author_image="/blog/avatars/person-1.jpg"
            :author="'Clara Chagas, Head of Community @ Quora in Portuguese'"
            :date="'Posted Sep  17'"
            image="/blog/posts/post-1.jpg"
            :content="'Hampta Pass trek starts from Manali valley ,takes you through lush green mountains, water streams, rocky climbing paths and lands you in Spiti valley at the end.'"/>
          <blogItemActions/>

          <blog-list-item
            :title="'Announcing Betas for Quora'"
            author_image="/blog/avatars/person-2.jpg"
            :author="'Elynn Lee, Product Manager at Quora (2015-present)'"
            :date="'Posted Sep  17'"
            image="/blog/posts/post-2.jpg"
            :content="'Hampta Pass trek starts from Manali valley ,takes you through lush green mountains, water streams, rocky climbing paths and lands you in Spiti valley at the end.'"/>
          <blogItemActions/>
        </div>
        <!-- END BLOG ITEMS -->
        <div class="col-md-3 col-right">
          <div class="recent-blogs">
            <h3>Recent blogs</h3>
            <ul class="blog-features-list">
              <li><a>What are some good trekking trails in India?</a></li>
              <li><a>What is the difference between hiking and trekking?</a></li>
              <li><a>Which are the best trekking groups in India?</a></li>
              <li><a>What is trekking?</a></li>
              <li><a>Do you want to do trekking in Nepal?</a></li>
            </ul>
          </div>

          <div class="top-blogs">
            <h3>Top 5 blogs</h3>
            <ul class="blog-features-list">
              <li><a>What are some good trekking trails in India?</a></li>
              <li><a>What is the difference between hiking and trekking?</a></li>
              <li><a>Which are the best trekking groups in India?</a></li>
              <li><a>What is trekking?</a></li>
              <li><a>Do you want to do trekking in Nepal?</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import topicsList from "~/components/pages/blog/topics-list.vue"
  import blogListItem from "~/components/pages/blog/blog-list-item.vue"
  import BannerSale from "~/components/banners/BannerSale.vue"
  import blogItemActions from "~/components/pages/blog/blog-item-actions.vue"

  export default {
    name: "b-blog-main",
    components: {
      topicsList,
      blogListItem,
      BannerSale,
      blogItemActions
    }
  }
</script>

<style scoped>
  .content {
    padding-top: 30px;
  }

  h3 {
    color: #19216c;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
  }

  .blog-features-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .blog-features-list li {
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 5px;
  }

  .blog-features-list li a {
    color: #606060;
  }

  .blog-features-list li a:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  .recent-blogs {
    margin-bottom: 40px;
    overflow: hidden;
  }

  /* search block */
  .wrap-search {
    position: relative;
    margin-bottom: 30px;
  }

  .search-block {
    border: none;
    background: transparent;
    padding: 12px 70px 12px 0;
    font-size: 40px;
    position: relative;
    width: 100%;
    border-bottom: 3px solid #e5e5e5;
    line-height: 1;
  }

  .search-block::placeholder {
    color: #bfbfbf;
  }

  .search-block:focus {
    outline: none;
  }

  .wrap-search:after {
    content: url('/svg/search.svg');
    position: absolute;
    right: 25px;
    bottom: 20px;
    width: 36px;
  }

  /* end search block */

  @media (min-width: 768px) {
    .col-left {
      flex: 0 0 18.666667%;
      max-width: 18.666667%;
    }

    .col-center {
      flex: 0 0 59.333333%;
      max-width: 59.333333%;
    }

    .col-right {
      flex: 0 0 22%;
      max-width: 22%;
    }

    .offset-md-2 {
      margin-left: 18.666667%;
    }
  }

  @media (min-width: 1891px) {
    .container-custom {
      max-width: 1470px;
    }
  }

  @media (max-width: 1890px) and (min-width: 1200px) {

  }

  @media (max-width: 1199px) and (min-width: 992px) {

  }

  @media (max-width: 991px) and (min-width: 768px) {
    h3 {
      font-size: 20px;
    }

    .blog-features-list li {
      font-size: 14px;
      margin-bottom: 10px;
      margin-top: 5px;
    }

    /* search block */
    .search-block {
      padding: 12px 40px 12px 0;
      font-size: 20px;
    }

    .wrap-search:after {
      right: 10px;
      bottom: 12px;
      width: 20px;
    }

    /* end search block */
  }

  @media (max-width: 767px) {
    .container-custom {
      max-width: 100%;
      padding-left: 55px;
      padding-right: 55px;
    }

    .col-left, .col-right {
      display: none;
    }
  }

  @media (max-width: 575px) {
    .container-custom {
      max-width: 100%;
      padding-left: 25px;
      padding-right: 25px;
    }

    /* search block */
    .search-block {
      padding: 12px 30px 12px 0;
      font-size: 17px;
    }

    .wrap-search:after {
      right: 10px;
      bottom: 12px;
      width: 15px;
    }

    /* end search block */
  }
</style>
