<template>
  <div id="blog-details">
    <BannerSale/>
    <div class="content container">
      <div class="row">
        <div class="col">
          <blog-list-item
            :title="'Diffrence between trekking and hiking'"
            class="blog-detailed"
            author_image="/blog/avatars/person-1.jpg"
            :author="'Clara Chagas, Head of Community @ Quora in Portuguese'"
            :date="'Posted Sep  17'"
            image="/blog/posts/post-1.jpg"
            :content="'Hampta Pass trek starts from Manali valley ,takes you through lush green mountains, water streams, rocky climbing paths and lands you in Spiti valley at the end. Hampta Pass trek starts from Manali valley ,takes you through lush green mountains, water streams, rocky climbing paths and lands you in Spiti valley at the end. Hampta Pass trek starts from Manali valley ,takes you through lush green mountains, water streams, rocky climbing paths and lands you in Spiti valley at the end. Hampta Pass trek starts from Manali valley ,takes you through lush green mountains, water streams, rocky climbing paths and lands you in Spiti valley at the end. Hampta Pass trek starts from Manali valley ,takes you through lush green mountains, water streams, rocky climbing paths and lands you in Spiti valley at the end. Hampta Pass trek starts from Manali valley ,takes you through lush green mountains, water streams, rocky climbing paths and lands you in Spiti valley at the end. Hampta Pass trek starts from Manali valley ,takes you through lush green mountains, water streams, rocky climbing paths and lands you in Spiti valley at the end.'"/>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-xl-9 col-md-12">
          <div class="actions">
            <textarea placeholder="Comment" />
            <div class="author">
              <span>John. W : Awesome viewpoint</span>
              <div class="comments blog-item-action"><img src="/Icons/Black/Royal_command.svg"></div>
            </div>
            <div class="action">
              <blogItemActions/>
              <div class="submit">
                <iconTextButton :text="text" :color="color"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import BannerSale from "~/components/banners/BannerSale.vue"
  import blogListItem from "~/components/pages/blog/blog-list-item.vue"
  import blogItemActions from "~/components/pages/blog/blog-item-actions.vue"
  import iconTextButton from "~/components/buttons/icon-text-button.vue"

  export default {

    name: "b-blog-details",
    components: {
      BannerSale,
      'blog-list-item': blogListItem,
      blogItemActions,
      iconTextButton
    },
    data() {
      return {
        text: "Similar Blogs",
        color: "#f22359"
      }
    }
  }
</script>

<style scoped>

  textarea {
    width: 100%;
    height: 110px;
    border: 1px solid #53588f;
    padding: 18px 16px;
    font-size: 26px;
  }

  .author {
    display: flex;
    font-size: 24px;
    margin-top: 25px;
  }

  /deep/ .blog-item-image img {
    height: 600px;
    width: 100%;
    object-fit: cover;
  }

  .blog-detailed .blog-detailed img {
    height: 600px;
    width: 100%;
    object-fit: cover;
  }

  .author img {
    width: 44px;
    height: 42px;
    margin-left: 70px;
  }

  /deep/ .blog-item-actions {
    margin: 0;
    padding: 0;
  }

  /deep/ .blog-item {
    border: none;
    margin-bottom: 50px;
  }

  .actions .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }

  .action .submit {
    width: 250px;
  }


  @media (max-width: 1890px) and (min-width: 1200px) {
    /deep/ .blog-item-description {
      font-size: 18.5px;
    }

    /deep/ .layer {
      font-size: 19px;
    }

    /deep/ h2.sales {
      font-size: 50px;
    }

    /deep/ h3 {
      font-size: 22.5px;
    }

    /deep/ .blog-item-author-info, /deep/ .blog-item-date {
      font-size: 15px;
    }

    textarea {
      height: 82px;
    }

    .author {
      font-size: 18px;
    }

    .author img {
      width: 33px;
      height: 31px;
    }

  }

  @media (max-width: 1199px) and (min-width: 992px) {

    /deep/ .sales {
      font-size: 30.25px;
    }

    /deep/ .layer {
      font-size: 16px;
    }

    /deep/ h2.sales {
      font-size: 45px;
    }

    /deep/ .blog-item-author-image {
      margin-right: -25px;
    }

    /deep/ h3 {
      font-size: 18px;
    }

    /deep/ .blog-item-author-info, /deep/ .blog-item-date {
      font-size: 14px;
    }


    /deep/ .layer .btn {
      font-size: 16px;
      width: 99px;
      height: 40px;
    }

    /deep/ .blog-item-description {
      font-size: 14px;
    }

    textarea {
      height: 60px;
      padding: 10px 10px;
      font-size: 14.5px;
    }

    .author {
      font-size: 16px;
    }

    .author img {
      width: 30px;
      height: 29px;
      margin-left: 30px;
    }

    /deep/ .blog-item-actions {
      display: flex;
    }

    .action {
      padding-left: 5px;
    }
  }

  @media (max-width: 767px) and (min-width: 576px) {
    .action .submit {
      width: 165px;
    }
  }

  @media (max-width: 575px) {
    /deep/ .blog-item-description {
      font-size: 18.5px;
    }

    /deep/ .btn {
      width: 91px;
      height: 37px;
    }

    textarea {
      padding: 10px 10px;
      font-size: 15px;

    }

    /deep/ .blog-item-author-info, /deep/ .blog-item-date {
      font-size: 15px;
    }

    textarea {
      height: 82px;
    }

    .author {
      font-size: 18px;
    }

    .author img {
      width: 33px;
      height: 31px;
    }

    /deep/ .btn {
      font-size: 14px;
    }

    .action .submit {
      width: 140px;
    }

    /deep/ .text span {
      line-height: 50px;
      font-size: 22px;
    }


  }

  @media (max-width: 415px) {
    /deep/ .button {
      height: 40.5px;
    }

    /deep/ .action .submit {
      height: 40.5px;
    }

    /deep/ .blog-item-author-info, .blog-item-date {
      font-size: 12px;
    }

    .author {
      font-size: 16px;
    }

    .author img {
      width: 24px;
      height: 22px;
      margin-left: 20px;
    }

    /deep/ .blog-item-action img {
      height: 15px;
    }

    /deep/ .text span {
      line-height: 50px;
      font-size: 16px;
    }

    .action .submit {
      width: 110px;
    }
  }

  @media (max-width: 320px) {
    /deep/ .blog-item-action img {
      height: 10px;
    }
  }
</style>
