<template>
  <section class="content faq">
    <section class="container search">
      <div class="wrap-search">
        <input type="text" name="search" placeholder="Search" class="search-block">
      </div>
    </section>
    <section class="container faq-block">
      <h3 :class="`${questionShow ? 'hidden' : ''}`">Hi,<br> how can we help? <span class="question__icon" @click="toggleQuestions"><img src="/svg/question-icon.svg" /></span></h3>
      <div class="row content-row">
        <div class="col-md-12 col-xl-8">
          <div class="wrap-left-block">
            <div :class="`q-text ${activeSections.includes(index) ? 'active' : ''}`" :key="index" v-for="(section, index) in sections" @click="toggleSection(index)">
              <div class="wrap-title-q">
                <span>{{ section.title }}</span><i class="arrow down" />
              </div>
              <div class="a-text">
                <span class="red-text">Lorem Ipsum is simply dummy text</span>
                <span class="red-text">Lorem Ipsum is simply</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
                  accumsan lacus vel facilisis.</p>
                <span class="url-text">If not helpful, <a href="#">Contact Us</a></span>
                <span class="red-text">Health and Risks ?</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xl-4">
          <div :class="`${questionShow ? 'wrap-right-block active' : 'wrap-right-block'}`">
            <div class="title">
              <span>Questions</span>
            </div>
            <span :class="`${questionShow ? 'question__cross-icon' : 'question__cross-icon hidden'}`" @click="toggleQuestions"><img src="/svg/cross.svg" /></span>
            <div class="question-text">
              <span>What are some good trekking trails in India?</span>
            </div>
            <div class="question-text">
              <span>What is the difference between hiking and trekking?</span>
            </div>
            <div class="question-text">
              <span>What are some good trekking trails in India?</span>
            </div>
            <div class="question-text">
              <span>What is the difference between hiking and trekking?</span>
            </div>
            <div class="question-text">
              <span>What are some good trekking trails in India?</span>
            </div>
            <div class="question-text">
              <span>What is the difference between hiking and trekking?</span>
            </div>
            <div class="question-text">
              <span>What are some good trekking trails in India?</span>
            </div>
            <div class="question-text">
              <span>What is the difference between hiking and trekking?</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="trips">
      <Connect/>
    </section>
    <section class="container write-to-us">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <span class="write-to-us__title">Write to us</span>
          <form action="">
            <text-input class="write-to-us__input" type="text" placeholder="Name" name="email" :required="true"/>
            <text-input class="write-to-us__input" type="email" placeholder="Email Address" name="email" :required="true"/>
            <div class="write-to-us__textarea">
              <textarea placeholder="Your Question here" name="question" required/>
            </div>
            <div class="row justify-content-center">
              <div class="col col-auto mt-5">
                <button type="submit" class="write-to-us__button">Ask</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
  import textInput from "~/components/form/text-input.vue"
  import Connect from "../../components/pages/home/Connect";

  export default {
    name: "b-faq",
    components: {
      textInput,
      Connect
    },
    data() {
      return {
        sections: [
          {
            title: 'Rescheduling & Cancelling',
            texts: [
              {
                red: true,
                text: 'Lorem Ipsum is simply dummy text'
              },
              {
                red: true,
                text: 'Lorem Ipsum is simply dummy text'
              },
              {
                red: false,
                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.'
              }
            ]
          },
          {
            title: 'Preparing for your Summit',
            texts: [
              {
                red: true,
                text: 'Lorem Ipsum is simply dummy text'
              },
              {
                red: true,
                text: 'Lorem Ipsum is simply dummy text'
              },
              {
                red: false,
                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.'
              }
            ]
          },
          {
            title: 'Health and Risks',
            texts: [
              {
                red: true,
                text: 'Lorem Ipsum is simply dummy text'
              },
              {
                red: true,
                text: 'Lorem Ipsum is simply dummy text'
              },
              {
                red: false,
                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.'
              }
            ]
          },
          {
            title: 'Trips',
            texts: [
              {
                red: true,
                text: 'Lorem Ipsum is simply dummy text'
              },
              {
                red: true,
                text: 'Lorem Ipsum is simply dummy text'
              },
              {
                red: false,
                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.'
              }
            ]
          },
          {
            title: 'Your Guides',
            texts: [
              {
                red: true,
                text: 'Lorem Ipsum is simply dummy text'
              },
              {
                red: true,
                text: 'Lorem Ipsum is simply dummy text'
              },
              {
                red: false,
                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.'
              }
            ]
          }
        ],
        activeSections: [],
        questionShow: false
      }
    },
    methods: {
      toggleSection(section) {
        if (this.activeSections.includes(section)) {
          const index = this.activeSections.findIndex(obj => obj === section);
          this.activeSections.splice(index, 1);
        } else {
          this.activeSections.push(section);
        }
      },
      toggleQuestions() {
        this.questionShow = !this.questionShow
      }
    }
  }
</script>

<style scoped>
  /deep/ .block-title {
    color: #19216c;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }

  .hidden {
    display: none;
  }

  .wrap-search {
    position: relative;
  }

  .search-block {
    border: none;
    background: transparent;
    padding: 12px 25px;
    font-size: 30px;
    position: relative;
    width: 100%;
    border-bottom: 4px solid #2e3999;
  }

  .search-block:focus {
    outline: none;
  }

  .wrap-search:after {
    content: url('/search-icon-2.png');
    position: absolute;
    right: 25px;
    top: 20px;
  }

  h3 {
    font-size: 40px;
    line-height: 45px;
    font-weight: bold;
    color: #19216c;
    margin: 0;
    padding-top: 65px;
    padding-bottom: 50px;
    position: relative;
  }

  .faq-block .a-text {
    display: none;
    cursor: default;
  }

  .faq-block .a-text p {
    font-size: 24px;
    line-height: 32px;
    color: #3e3e3e;
    margin-bottom: 25px;
    padding-left: 50px;
  }

  .faq-block .a-text .red-text {
    padding-left: 40px;
    color: #f22359;
    font-size: 24px;
    line-height: 32px;
    display: block;
    padding-bottom: 30px;
  }

  .faq-block .q-text {
    font-size: 30px;
    border-bottom: 1px solid #787878;
  }

  .faq-block .q-text .wrap-title-q {
    width: 100%;
    display: flex;
    padding: 30px 40px 30px 0;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .faq-block .wrap-left-block .q-text:last-child {
    border: none;
  }

  .faq-block .q-text.active .a-text {
    display: block;
  }

  .arrow {
    border: solid #19216c;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
  }

  .arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: .3s;
  }

  .faq-block .q-text.active .arrow.down {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .url-text {
    color: #19216c;
    font-size: 24px;
    padding-bottom: 30px;
    display: block;
    padding-left: 50px;
  }

  .url-text a {
    color: #0066ff;
    text-decoration: underline !important;
  }

  .title {
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 11px;
    color: #19216c;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 32px;
  }

  .question-text {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #606060;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .question-text:hover {
    cursor: pointer;
  }

  .trips {
    margin-top: 130px;
  }

  .trips-title {
    font-size: 65px;
    letter-spacing: 4px;
    line-height: 30px;
    color: #19216c;
    font-weight: bold;
  }

  .wrap-right-block {
    margin-left: 65px;
  }

  span.write-to-us__title {
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 30px;
    color: #19216c;
    font-weight: bold;
  }

  /deep/ .write-to-us__input input{
    padding: 0
  }

  /deep/ .write-to-us__input {
    margin-top: 30px;
    padding: 0
  }

  /deep/ .write-to-us__textarea textarea::-webkit-input-placeholder {
    color: black;
  }

  .question__icon {
    position: absolute;
    top: 40%;
    right: 15px;
    display: none;
  }

  .write-to-us__textarea textarea {
    width: 100%;
    background-color: transparent;
    color: black;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #b3b3b4;
    outline: none;
    font-size: 22px;
    height: 155px;
    margin-top: 20px;
  }

  .write-to-us__textarea {
    margin-top: 20px;
  }


  .write-to-us__button {
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    width: 158px;
    height: 78px;
    border-radius: 5px;
    filter: drop-shadow(0px 6px 8px rgba(0,0,0,0.27));
    background-color: #f22359;
  }

  @media (max-width: 1199px) and (min-width: 992px) {
    /deep/ .block-title {
      font-size: 55px;
    }

    .wrap-right-block {
      margin-left: 0;
    }

    .wrap-right-block {
      margin-left: 0;
      margin-top: 100px;
    }

    .wrap-right-block.active {
      display: inherit;
      position: relative;
    }

    .wrap-right-block {
      display: none;
    }

    .content-row {
      flex-direction: column-reverse;
    }

    .question__icon {
      display: block;
    }

    span.question__cross-icon {
      position: absolute;
      right: 30px;
      top: -5px;
    }
  }
  @media (max-width: 991px) and (min-width: 768px) {
    /deep/ .block-title {
      font-size: 50px;
    }

    .wrap-right-block {
      margin-left: 0;
    }

    .wrap-right-block {
      margin-left: 0;
    }

    .wrap-right-block {
      margin-left: 0;
      margin-top: 100px;
    }

    .wrap-right-block.active {
      display: inherit;
      position: relative;
    }

    .wrap-right-block {
      display: none;
    }

    .content-row {
      flex-direction: column-reverse;
    }

    .question__icon {
      display: block;
    }

    span.question__cross-icon {
      position: absolute;
      right: 30px;
      top: -5px;
    }
  }
  @media (max-width: 767px) and (min-width: 576px) {
    /deep/ .block-title {
      font-size: 50px;
    }

    .wrap-right-block {
      margin-left: 0;
    }

    .wrap-right-block {
      margin-left: 0;
    }

    .wrap-right-block {
      margin-left: 0;
      margin-top: 100px;
    }

    .wrap-right-block.active {
      display: inherit;
      position: relative;
    }

    .wrap-right-block {
      display: none;
    }

    .content-row {
      flex-direction: column-reverse;
    }

    .question__icon {
      display: block;
    }

    span.question__cross-icon {
      position: absolute;
      right: 30px;
      top: -5px;
    }
  }

  @media (max-width: 575px) {
    /deep/ .block-title {
      font-size: 40px;
    }

    .search, .faq-block, .write-to-us {
      padding-left: 45px;
      padding-right: 45px;
    }

    .wrap-right-block {
      margin-left: 0;
    }

    .wrap-right-block {
      margin-left: 0;
      margin-top: 100px;
    }

    .wrap-right-block.active {
      display: inherit;
      position: relative;
    }

    .wrap-right-block {
      display: none;
    }

    .content-row {
      flex-direction: column-reverse;
    }

    .question__icon {
      display: block;
    }

    span.question__cross-icon {
      position: absolute;
      right: 30px;
      top: -5px;
    }
  }

  @media (max-width: 396px) {

    .container {
      padding-left: 15px;
      padding-right: 15px;
    }

    h3 {
      padding-right: 45px;
    }
  }

</style>
