<template>
    <section class="center-full-screen">
        <div class="container">
            <div><h1>Verified</h1></div>
            <div>
                <img src="/svg/L1.svg" alt="">
            </div>
            <div>
                <p>
                    You account has been<br>
                    verified successfully.
                </p>
            </div>
            <div>
                <a href="#" class="base-link">
                    Proceed to Login.
                </a>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "u-login-verified"
    }
</script>

<style scoped>
    .container div
    {
        text-align: center;
    }

    .container > div:not(:first-child)
    {
        margin-top: 50px;
    }

    a 
    {
        font-size: 24px;
    }

    @media (max-width: 1199px) and (min-width: 992px) {
        p, a {
            font-size: 24px;
        }
    }
    @media (max-width: 991px) and (min-width: 768px) {
        p, a {
            font-size: 22px;
        }
    }
    @media (max-width: 767px) and (min-width: 576px) {
        p, a {
            font-size: 22px;
        }
    }
    @media (max-width: 575px) {
        p, a {
            font-size: 18px;
        }
    }
</style>