<template>
  <section class="container content authorize">
    <div class="content--width">
      <section class="soc">
        <h1 class="text--center h1--small">Welcome back!<br>mountains are calling & you must go.</h1>
        <section class="soc-services">
          <div class="row justify-content-center">
            <div class="col-9 col-sm-12 col-sm-12">
              <icon-text-button icon="/Icons/white/Royal_Facebook.svg" text="Continue with Facebook" color="#465993"
                                link="https://facebook.com" class="mb-4 button-social"></icon-text-button>
              <icon-text-button icon="/Icons/white/Royal_Twitter.svg" text="Continue with Twitter" color="#03a9f5"
                                link="facebook.com" class="mb-4 button-social"></icon-text-button>
              <icon-text-button icon="/svg/google-plus.svg" text="Continue with Google" color="#f14436"
                                link="facebook.com" class="mb-4 button-social"></icon-text-button>
            </div>
          </div>
        </section>
        <p class="text--center p--top-margin">We will never post on your social<br>page without your permission.</p>
      </section>

      <div class="separator">
        <p><span>or</span></p>
      </div>
      <div class="clearfix"></div>

      <section class="sign-in">
        <h2 class="text--center">sign in</h2>
        <form action="">
          <text-input type="email" placeholder="Email" name="email" :required="true"></text-input>
          <text-input type="password" placeholder="Password" name="password" :required="false"
                      :rightIcon="{
                                    url: '/svg/password-ic.svg',
                                    customType: 'text'
                                }"
          ></text-input>
          <div class="block--float-right right-links">
            <a href="" class="base-link">Forgot password</a>
            <checkbox name="remember">Remember me</checkbox>
          </div>
          <div class="clearfix"></div>
          <div class="block--float-right right-links">
            <a href="" class="link--black">Create Account</a>
            <a href="" class="button pink-button block--float-right go-royal-button">Go Royal</a>
          </div>
          <div class="clearfix"></div>

        </form>
      </section>

      <section class="sign-up">
        <h2 class="text--center">sign up</h2>
        <form action="">
          <text-input type="text" placeholder="First Name" name="fname" :required="true"></text-input>
          <text-input type="text" placeholder="Last Name" name="lname" :required="true"></text-input>
          <date-select>Date of Birth</date-select>
          <text-input type="text" placeholder="Country/Region of residence" name="country"
                      :required="true"></text-input>
          <text-input type="text" placeholder="Email Address" name="email" :required="true"></text-input>
          <text-input type="password" placeholder="Create new Password" name="password" :required="true"
                      :rightIcon="{
                                    url: '/svg/password-ic.svg',
                                    customType: 'text'
                                }"
          ></text-input>
          <select-component name="question" :options="[
                        {
                            value: '',
                            title: 'Select one security question'
                        },
                        {
                            value: 'option1',
                            title: 'option1'
                        },
                        {
                            value: 'option2',
                            title: 'option2'
                        }
                    ]"></select-component>
          <text-input type="text" placeholder="Answer" name="answer" :required="true"></text-input>
          <div class="block--float-right right-links">
            <checkbox name="remember">I have read <a href="#" class="base-link base-link--black">Term & Conditions</a>
            </checkbox>
          </div>
          <div class="clearfix"></div>
          <div class="block--float-right right-links">
            <a href="" class="button pink-button block--float-right go-royal-button">Go Royal</a>
          </div>
          <div class="clearfix"></div>
        </form>
      </section>
    </div>
  </section>
</template>

<script>
  import iconTextButton from "~/components/buttons/icon-text-button.vue"
  import textInput from "~/components/form/text-input.vue"
  import checkbox from "~/components/form/checkbox.vue"
  import selectComponent from "~/components/form/select.vue"
  import dateSelect from "~/components/form/date-select.vue"

  export default {
    name: "u-login-step-1",
    components: {
      iconTextButton,
      textInput,
      checkbox,
      selectComponent,
      dateSelect
    }
  }
</script>

<style scoped>
  .content--width {
    max-width: 702px;
    margin: 0 auto;
  }

  .soc-services {
    margin: 60px auto 0 auto;
    max-width: 500px;
  }

  .soc-services > *:not(:first-child) {
    margin-top: 16px;
  }

  .separator {
    margin-top: 75px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #646464;
    text-align: center;
    position: relative;
    height: 36px;
  }

  .separator > p {
    width: 100%;
    float: left;
    margin-top: 18px
  }

  .separator > p > span {
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 24px;
    background-color: #f1f1f1;
    width: 50px;
    display: inline-block;
  }

  .sign-in {
    margin-top: 90px;
  }

  .sign-up {
    margin-top: 150px;
  }

  /deep/ .button {
    color: white;
    font-size: 24px;
    height: 78px;
    padding: 10px 50px 10px 26px;
    display: flex;
    justify-content: flex-start;
  }

  /deep/ .button-social .button {
    border-radius: 40px !important;
  }

  /deep/ .button .text {
    padding-left: 25px;
  }

  .block--float-right > *:not(:last-child) {
    margin-right: 20px;
  }

  .block--float-right .link--black {
    margin-right: 30px;
  }

  .right-links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  }

  .right-links {
    margin-top: 20px;
  }

  .go-royal-button {
    font-size: 28px;
    color: #ffffff;
    font-weight: 500;
    justify-content: center;
    width: 166px;
    height: 61px;
    padding: 0;
    border-radius: 5px;
    filter: drop-shadow(0px 5px 6.5px rgba(0,0,0,0.37));
    background-color: #f22359;
    margin-left: 20px;
  }

  h2 {
    font-size: 30px;
    text-transform: uppercase;
  }

  @media (max-width: 1199px) and (min-width: 992px) {
    /deep/ h2 {
      font-size: 24px;
    }

    /deep/ .separator > p > span {
      font-size: 20px;
    }

    /deep/ .right-links {
      font-size: 20px;
    }
  }

  @media (max-width: 991px) and (min-width: 768px) {
    /deep/ h2 {
      font-size: 22px;
    }

    /deep/ .separator > p > span {
      font-size: 18px;
    }

    /deep/ .right-links {
      font-size: 18px;
    }

    .block--float-right .link--black {
      margin-right: 5px;
    }
  }

  @media (max-width: 767px) and (min-width: 576px) {
    /deep/ h2, h1 {
      font-size: 22px;
    }

    .block--float-right .link--black {
      margin-right: 5px;
    }

    h2 {
      color: #19216c;
      font-weight: 700;
    }

    /deep/ .separator > p > span {
      font-size: 18px;
    }

    /deep/ .right-links {
      font-size: 18px;
    }

    .right-links {
      font-size: 14px;
    }

    .button {
      margin-left: 30px;
    }
  }

  @media (max-width: 575px) {
    /deep/ h2, h1, p {
      font-size: 18px;
    }

    .block--float-right .link--black {
      margin-right: 5px;
    }

    h2 {
      color: #19216c;
      font-weight: 700;
    }

    /deep/ .separator > p > span {
      font-size: 16px;
    }

    /deep/ .right-links {
      font-size: 16px;
    }

    /deep/ .right-links .pink-button {
      font-size: 20px;
    }

    .right-links {
      font-size: 10px;
    }

    .button {
      margin-left: 15px;
    }

    .go-royal-button {
      width: 115px;
      height: 50px;
    }

    /deep/ .button {
      justify-content: center;
    }
  }
</style>
