<template>
    <section class="center-full-screen">
        <div class="container">
            <div><h1>Verification</h1></div>
            <div>
                <p>
                    Please verify your<br>
                    account by checking your inbox at<br>
                    <a href="#" class="base-link">king@royalthrills.com</a><br>
                    We have sent you a verification email.
                </p>
            </div>
            <div>
                <a href="#" class="button pink-button">Confirm my account</a>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "u-login-verification"
    }
</script>

<style scoped>
    .container div
    {
        text-align: center;
    }
    
    .container > div:not(:first-child)
    {
        margin-top: 50px;
    }
    
    .button
    {
        margin-left: auto;
        margin-right: auto;
        color: white;
        height: 72px;
        line-height: 72px;
        width: 300px;
        font-size: 24px;
    }

    @media (max-width: 1199px) and (min-width: 992px) {
        p {
            font-size: 24px;
        }
    }
    @media (max-width: 991px) and (min-width: 768px) {
        p {
            font-size: 22px;
        }
    }
    @media (max-width: 767px) and (min-width: 576px) {
        p {
            font-size: 22px;
        }
    }
    @media (max-width: 575px) {
        p {
            font-size: 18px;
        }
        
        .button
        {
            font-size: 14px;
            width: 200px;
            height: 50px;
        }
    }
</style>