<template>
    <div id="loggedin-menu">
      <header>
          <div class="container-fluid padding-style">
              <div class="row desktop-header-menu">
                  <div class="col-md-12 col-lg-2 header-logo">
                      <img @click="menuClick()" src="/Logo-01.png">
                  </div>
                  <div class="col-md-9 col-lg-8 flexed">
                      <div class="header-menu">
                          <div class="header-menu-item">
                              <a href="#" @click="menuClick('#see-and-experience')">See & Experience</a>
                          </div>
                          <div class="header-menu-item">
                              <a href="#" @click="menuClick('#plan-and-book')">Plan & Book</a>
                          </div>
                          <div class="header-menu-item">
                              <a href="#" @click="menuClick('#connect')">Connect & Learn</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-lg-2 align-items-center login">
                      <div class="dropdown" @click="dropdown=!dropdown">Client Name
                        <svg class="dropdown-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        	 viewBox="0 0 25.1 13.1" style="enable-background:new 0 0 25.1 13.1;" xml:space="preserve">
                        <style type="text/css">
                        	.st0{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;}
                        </style>
                        <title>icon</title>
                        <polyline class="st0" points="1.9,1.4 12.8,11.6 23.2,1.4 "/>
                        </svg>
                        <div class="dropdown-active" v-if="dropdown">
                          <a href="#" class="item">
                            <img src="/dropdown1.png" alt="">
                            <span>My Bookings</span>
                          </a>
                          <a href="#" class="item">
                            <img src="/dropdown2.png" alt="">
                            <span>Bucket-list</span>
                          </a>
                          <a href="#" class="item">
                            <img src="/dropdown3.png" alt="">
                            <span>My Profile</span>
                          </a>
                          <a href="#" class="item">
                            <img src="/dropdown4.png" alt="">
                            <span>Logout</span>
                          </a>
                        </div>
                      </div>
                      <a href="#" class="btn-icon"><img src="/svg/white/phone-icon.svg"></a>
                      <a href="#" class="btn-icon"><img src="/chat-icon.png"></a>
                  </div>
              </div>
              <div class="row mobile-header-menu">
                  <div class="col menu">
                      <img src="/hamburger.png" @click="mobileMenuVisible = true" class="hamburger">
                      <a href="#" class="btn-icon-mob"><img src="/svg/white/phone-icon.svg"></a>
                  </div>
                  <div class="col logo">
                      <img @click="menuClick()" src="/logo-03.png">
                  </div>
                  <div class="col login">
                      <a href="#" class="btn-icon-mob"><img src="/chat-icon.png"></a>
                      <a href="#" class="btn-icon-mob login-icon"><img src="/login-icon.png"></a>
                  </div>
              </div>
          </div>
          <div class="mobile-menu-wrapper" v-if="mobileMenuVisible">
              <div class="mobile-header-menu-header">
                  <div class="col logo">
                      <img src="/svg/white/Logo-02.svg">
                  </div>
                  <div class="col mobile-menu-close">
                      <a href="#" @click="mobileMenuVisible = false"><img src="/close.svg"></a>
                  </div>
              </div>
              <div class="mobile-header-menu-content">
                  <div class="mobile-header-menu-title">Menu</div>
                  <div class="mobile-header-menu-item">
                      <a href="#" @click="menuClick('#see-and-experience', true)">See & Experience</a>
                  </div>
                  <div class="mobile-header-menu-item">
                      <a href="#" @click="menuClick('#plan-and-book', true)">Plan & Book</a>
                  </div>
                  <div class="mobile-header-menu-item">
                      <a href="#" @click="menuClick('#connect', true)">Connect & Learn</a>
                  </div>
              </div>
          </div>
          <Modal ref="modal" :title="'Search'"><div class="search-wrapper"><input class="search-input form-control"></div></Modal>
          <div class="clearfix"></div>
      </header>
    </div>
</template>

<script>



import Modal from '~/components/modal'
export default {
  name: 'site-header',
  components: {
    Modal
  },
  data() {
    return {
      mobileMenuVisible: false,
      dropdown: false
    }
  },
  methods: {
    menuClick: function (selector = null, isMobile = false) {
        if (this.$route.name == 'index' && !selector) {
            return;
        }
        this.$router.push({name: 'index', hash: selector}, () => {
            if (selector) {
                this.$scrollTo(selector);
            }
            if (isMobile) {
                this.mobileMenuVisible = false;
            }
        });
    }
  }
}
</script>

<style scoped>

header {
    position: relative;
    z-index: 1000;
    background: linear-gradient(90deg, #506c94, #364d73);
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.6);
    padding: 40px 0px;
    text-transform: uppercase;
}
header.absolute-header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

header, header a, header a:hover {
    color: #ffffff;
}

header .header-logo {
    padding-right: 0;
}

header img {
    max-width: 100%;
}

header .header-icon img {
    height: 30px;
}

header .header-menu {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 18px;
    justify-content: center;
}

header .header-menu-item {
    padding: 0 32px;
}
header .login {
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
}
.btn-search {
    width: 40px;
    cursor: pointer;
    margin-left: 30px;
}
.mobile-header-menu {
    display: none;
}
header .btn-icon {
    height: 35px;
    width: 35px;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

header .btn-icon-mob {
    padding-left: 25px;
}
header .btn-icon-mob img {
    height: 45px;
    width: 45px;
}
.dropdown{
  position: relative;
  padding: 0 10px;
}
.dropdown-active{
  position: absolute;
  padding-top: 30%;
  width: 100%;
  transform: translateX(-10px);

}
.dropdown-active .item{
  background-color: #374e74;
  border-bottom: 1px solid #263b5e;
  width: 100%;
  height: 45px;
  text-transform: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-left: 2px;
  padding-right: 2px;
}
.dropdown-active .item span{
  font-size: 15px;
  margin-left: 7px;
}
.dropdown-active img{
  width: 21px;
  height: 25px;
  margin-left: 15px;
}

.dropdown-icon{
  width: 15px;
  height: 10px;
}
.desktop-header-menu {
    align-items: center;
}

@media (max-width: 1890px) and (min-width: 1200px) {
    header .header-menu {
        font-size: 15px;
    }
    header .header-menu-item {
        padding: 0 14px;
    }
    .btn-search {
        width: 30px;
        margin-left: 40px;
    }
    header .login {
        font-size: 12px;
    }
    .dropdown-active .item span{
    font-size: 11px;
    margin-left: 7px;
  }
    .dropdown-active img {
    width: 17px;
    height: 21px;
    margin-left: 5px;
}
}
@media(max-width: 1608px) and (min-width: 1301px){
  .dropdown-active{
    width: 110px;
    height: 45px;
  }
  .dropdown .dropdown-icon{
    transform: translateX(31px);
  }
}
@media(max-width: 1436px) and (min-width: 1301px){
  .dropdown .dropdown-icon{
    transform: translateX(0px);
  }
}
@media(max-width: 1300px) and (min-width: 1201px){
  .dropdown-active{
    width: 100px;
    padding-top: 47%;
    transform: translateX(-20px);
}
}
@media(max-width: 1200px) and (min-width:1040px ){
  .dropdown-active{
      width: 100px;
      padding-top: 47%;
      transform: translateX(-20px);
  }
  .dropdown-active .item span{
  font-size: 11px;
  margin-left: 7px;

}
  .dropdown-active img {
  width: 17px;
  height: 21px;
  margin-left: 5px;
}
}
@media (max-width: 1039px) and (min-width: 992px) {
    header .header-menu {
        font-size: 12px;
        line-height: 2;
    }
    header .header-menu-item {
        padding: 0 10px;
        display: inline-block;
    }
    .btn-search {
        width: 20px;
        margin-left: 0;
        float: right;
    }
    header .login {
        font-size: 12px;
    }
    header .btn-icon {
        margin-left: 15px;
    }
    .dropdown-active{
        width: 100px;
        padding-top: 60%;
        transform: translateX(-26px);
    }
    .dropdown-icon{
      transform: translateX(10px);
    }
    .dropdown-active .item span{
    font-size: 11px;
    margin-left: 7px;

  }
    .dropdown-active img {
    width: 17px;
    height: 21px;
    margin-left: 5px;
}
}

@media (max-width: 991px) and (min-width: 768px) {
    header .header-menu {
        display: block;
        font-size: 12px;
        line-height: 2;
    }
    header .header-menu-item {
        padding: 0 10px;
        display: inline-block;
    }
    .btn-search {
        width: 20px;
        margin-left: 0;
        float: right;
    }
    header {
        padding: 25px 0;
    }
    header .login {
        font-size: 12px;
    }
    header .header-logo {
        text-align: center;
        margin-bottom: 15px;
        padding-right: 15px;
    }
    header .header-logo img {
        width: 40%;
    }
    .dropdown-active{
        width: 100px;
        padding-top: 25%;
        transform: translateX(-25px);
    }
    .dropdown-icon{
      transform: translateX(10px);
    }
    .dropdown-active .item span{
    font-size: 11px;
    margin-left: 7px;

  }
    .dropdown-active img {
    width: 17px;
    height: 21px;
    margin-left: 5px;
}
}

@media (max-width: 767px) {
    header {
        padding: 20px 0;
    }
    .login-icon
    {
        display: none;
    }
    .mobile-header-menu {
        display: flex;
    }
    .desktop-header-menu {
        display: none;
    }
    .mobile-header-menu .logo {
        text-align: center;
    }
    .mobile-header-menu .logo img {
        width: 100%;
    }

    .mobile-header-menu .col {
        align-self: center;
    }

    .mobile-menu-wrapper {
        background: #f22359;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 80%;
        padding: 55px 35px;
        z-index: 9999;
    }
    .mobile-header-menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobile-header-menu-header .logo img {
        width: 55%;
    }
    .mobile-header-menu-header .mobile-menu-close {
        text-align: right;
    }
    .mobile-header-menu-content {
        padding: 30px 15px;
        overflow-y: auto;
    }
    .mobile-header-menu-title {
        text-transform: uppercase;
        font-size: 35px;
        padding: 40px 10px;
    }
    .mobile-header-menu-item a {
        display: block;
        cursor: pointer;
        padding: 25px 10px;
        font-size: 27px;
        border-bottom: 1px solid;
        position: relative;
    }
    .mobile-header-menu-item a::after {
        content: '';
        display: block;
        background: url('/arrow-r.svg') no-repeat;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -13px;
        height: 25px;
        width: 15px;
    }
    .mobile-header-menu-item:last-child a {
        border-bottom: none;
    }
    .mobile-header-menu-item a:hover {
        cursor: pointer;
    }
    .container-fluid.padding-style {
        padding-right: 55px;
        padding-left: 55px;
    }
}
@media (max-width: 575px) {

    .mobile-header-menu-title {
        font-size: 23px;
        padding-bottom: 15px;
    }
    header {
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.5);
    }
    header .login {
        font-size: 18px;
    }
    .mobile-header-menu-item a {
        font-size: 15px;
    }
    .container-fluid.padding-style {
        padding-right: 25px;
        padding-left: 25px;
    }
    header .btn-icon-mob img {
        height: 25px;
        width: 25px;
    }
    header .btn-icon-mob {
        padding-left: 10px;
    }
    .hamburger {
        width: 25px;
    }
}
@media (min-width: 768px) {
    .mobile-menu-wrapper {
        display: none !important;
    }
}

/deep/ .modal-header {
    color: #222;
}
</style>
