<template>
    <div class="checkbox" @click="checked = !checked">
        <div class="custom-checkbox">
            <input type="checkbox" :name="name" :required="required" v-show="false" v-model="checked"/>
            <div>
                <div :class="{active: checked}"></div>
            </div>
        </div>
        <span class="slot"><slot></slot></span>
    </div>
</template>

<script>
    export default {
        name: "checkbox",
        props: {
            name: {
                type: String,
                require: true
            },
            required: {
                type: Boolean,
                default: function () {
                    return false;
                }
            }
        },
        data: function () {
            return {
                checked: false
            }
        }
    }
</script>

<style scoped>
    .checkbox
    {
        display: flex;
        cursor: pointer;
        align-items: center;
    }
    .custom-checkbox
    {
        display: inline-block;
        width: 30px;
        height: 16px;
        overflow: hidden;
        border-radius: 8px;
        background-color: #f22359;
    }
    
    .custom-checkbox > div
    {
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .custom-checkbox > div > div
    {
        height: 16px;
        width: 16px;
        border-radius: 8px;
        background-color: #f6f6f6;
        position: absolute;
        left: 0;
        top: 0;
    }

    .custom-checkbox > div > div.active
    {
        left: unset;
        right: 0;
    }
    
    .slot
    {
        font-size: 22px;
        margin-left: 10px;
    }

    @media (max-width: 1199px) and (min-width: 992px) {
        .slot {
            font-size: 20px;
        }
    }
    @media (max-width: 991px) and (min-width: 768px) {
        .slot {
            font-size: 18px;
        }
    }
    @media (max-width: 767px) and (min-width: 576px) {
        .slot {
            font-size: 14px;
        }
    }
    @media (max-width: 575px) {
        .slot {
            font-size: 10px;
        }
    }
</style>