<template>
    <div class="input">
        <input type="date" v-model="date" v-show="false">
        <div class="row">
            <div class="title col-md-4 col-sm-4 col-4"><slot></slot></div>
            <div class="date col-md-8 col-sm-8 col-8">
                <div class="row">
                    <div class="col-md-5 offset-md-1 col-sm-5 offset-sm-1 col-5 offset-1">
                        <select-component key="month-select" :options="dates.months" name="month-select" @changeValue="changeMonth"></select-component>
                    </div>
                    <div class="col-md-3 col-sm-3 col-3">
                        <select-component key="date-select" :options="dates.days" name="day-select" @changeValue="changeDay"></select-component>
                    </div>
                    <div class="col-md-3 col-sm-3 col-3">
                        <select-component key="year-select" :options="dates.years" name="year-select" @changeValue="changeYear"></select-component>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import selectComponent from "~/components/form/select.vue"
    export default {
        name: "date-select",
        components: {
            selectComponent
        },
        data: function () {
            return {
                month: '',
                year: '',
                day: '',
            }
        },
        methods: {
            changeMonth: function (value) {
                this.month = value
            },
            changeYear: function (value) {
                this.year = value
            },
            changeDay: function (value) {
                this.day = value
            },
        },
        computed: {
            date: function () {
                return this.year + '-' + this.month + '-' + this.day
            },
            dates: function () {
                let months = [{value: '', title: 'Month'}],
                    years = [{value: '', title: 'Year'}],
                    days = [{value: '', title: 'Day'}],
                    monthsNames = [
                        'January', 'February', 'March', 'April', 'May',
                        'June', 'July', 'August', 'September',
                        'October', 'November', 'December'
                    ];
                
                for (let month = 0; month < 12; month++)
                    months.push({value: month < 9 ? '0' + String(month+1) : String(month + 1), title: monthsNames[month]});
                
                for (let day = 0; day < 31; day++)
                    days.push({value: day < 9 ? '0' + String(day+1) : String(day + 1), title: day + 1});

                for (let year = 2020; year > 1970; year--)
                    years.push({value: String(year), title: String(year)});
                
                return {
                    months: months,
                    years: years,
                    days: days
                }
            }
        }
    }
</script>

<style scoped>
    .input
    {
        position: relative;
        width: 100%;
        background-color: transparent;
        color: black;
        box-shadow: none;
        border: 0;
        border-bottom: 1px solid #b3b3b4;
        outline: none;
        font-size: 22px;
        height: 70px;
        padding: 0 30px;
        overflow: hidden;
        margin-top: 20px;
    }
    
    .input >>> *
    {
        box-sizing: border-box;
    }
    
    .input >>> .input
    {
        margin-top: 0;
    }
    
    .input >>> img
    {
        right: 0;
    }
    
    .title
    {
       line-height: 70px; 
    }
    
    .date div 
    {
        padding: 0;
    }

    @media (max-width: 1199px) and (min-width: 992px) {
        .input {
            font-size: 20px;
        }
    }
    @media (max-width: 991px) and (min-width: 768px) {
        .input {
            font-size: 18px;
        }
    }
    @media (max-width: 767px) and (min-width: 576px) {
        .input {
            font-size: 14px;
            height: 50px;
            margin-top: 10px;
        }
        .title
        {
            line-height: 50px;
        }
        .input >>> *
        {
            box-sizing: border-box;
            margin-top: 0;
        }

        .input >>> select
        {
            padding: 0;
        }
        
        .input >>> img
        {
            right: 20px;
        }
    }
    @media (max-width: 575px) {
        .input {
            font-size: 10px;
            height: 50px;
            margin-top: 10px;
        }
        .title
        {
            line-height: 50px;
        }
        .input >>> *
        {
            box-sizing: border-box;
            margin-top: 0;
        }

        .input >>> select
        {
            padding: 0;
        }
        
        .input >>> img
        {
            right: 20px;
        }
    }
    @media (max-width: 450px) {
        .input >>> img
        {
            right: 10px;
        }
    }
    @media (max-width: 370px) {
        .input >>> img
        {
            right: 3px;
        }
    }
</style>