<template>
    <div class="input">
        <select :name="name" :id="'select-' + name" :required="required" v-model="value">
            <option v-for="(option, index) in options" :value="option.value" :key="'select-' + name + '-option-' + index">{{ option.title }}</option>
        </select>
        <img src="/svg/select-down-aero.svg" alt="">
    </div>
</template>

<script>
    import textInput from "~/components/form/text-input.vue"
    export default {
        name: "select",
        props: {
            name: {
                type: String,
                require: true
            },
            placeholder: {
                type: String,
                default: function () {
                    return ''
                }
            },
            rightIcon: {
                type: Object,
                default: function () {
                    return {
                        url: '',
                        customType: ''
                    }
                }
            },
            required: {
                type: Boolean,
                default: function () {
                    return false;
                }
            },
            options: {
                type: Array,
                default: function () {
                    return []
                }
            }
        },
        data: function()
        {
            return {
                value: ''
            }  
        },
        watch: {
            value: function () {
                this.$emit('changeValue', this.value);
            }  
        },
        components: {
            textInput
        },
    }
</script>

<style scoped>
    .input
    {
        position: relative;
        margin-top: 20px;
    }
    select {
        width: 100%;
        background-color: transparent;
        color: black;
        box-shadow: none;
        border: 0;
        border-bottom: 1px solid #b3b3b4;
        outline: none;
        font-size: 20px;
        height: 70px;
        padding: 0 30px;
        appearance: none;
        -webkit-appearance: none;
    }

    select::placeholder
    {
        color: black;
    }

    img
    {
        position: absolute;
        height: 10px;
        top: calc(50% - 5px);
        right: 28px;
        pointer-events: none;
    }

    @media (max-width: 1199px) and (min-width: 992px) {
        select {
            font-size: 20px;
        }
    }
    @media (max-width: 991px) and (min-width: 768px) {
        select {
            font-size: 18px;
        }
    }
    @media (max-width: 767px) and (min-width: 576px) {
        select {
            font-size: 14px;
            height: 50px;
        }
        .input
        {
            margin-top: 10px;
        }
    }
    @media (max-width: 575px) {
        select {
            font-size: 10px;
            height: 50px;
        }
        img
        {
            height: 8px;
            top: calc(50% - 4px);
        }
        .input
        {
            margin-top: 10px;
        }
    }
</style>