<template>
    <div class="input">
        <input :type="currentType" :placeholder="placeholder" :name="name" :required="required">
        <img v-if="rightIcon.url" :src="rightIcon.url" alt="" @click="changeType()">
    </div>
</template>

<script>
    export default {
        name: "text-input",
        props: {
            type: {
                type: String,
                default: function () {
                    return 'text'
                }
            },
            name: {
                type: String,
                require: true
            },
            placeholder: {
                type: String,
                default: function () {
                    return ''
                }
            },
            rightIcon: {
                type: Object,
                default: function () {
                    return {
                        url: '',
                        customType: ''
                    }
                }
            },
            required: {
                type: Boolean,
                default: function () {
                    return false;
                }
            }
        },
        data: function () {
            return {
                customType: ''
            }
        },
        computed: {
            currentType: function () {
                return this.customType.length ? this.customType : this.type;
            }
        },
        methods: {
            changeType: function () {
                this.customType.length ? this.customType = '' : this.customType = this.rightIcon.customType;
            }
        }
    }
</script>

<style scoped>
    .input
    {
        position: relative;
    }
    input {
        width: 100%;
        background-color: transparent;
        color: black;
        box-shadow: none;
        border: 0;
        border-bottom: 1px solid #b3b3b4;
        outline: none;
        font-size: 22px;
        height: 70px;
        padding: 0 30px;
        margin-top: 20px;
    }

    input::placeholder
    {
        color: black;
    }
    
    img
    {
        position: absolute;
        height: 20px;
        top: calc(50% - 10px);
        right: 40px;
        cursor: pointer;
    }

    @media (max-width: 1199px) and (min-width: 992px) {
        input {
            font-size: 20px;
        }
    }
    @media (max-width: 991px) and (min-width: 768px) {
        input {
            font-size: 18px;
        }
    }
    @media (max-width: 767px) and (min-width: 576px) {
        input {
            font-size: 14px;
            height: 50px;
            margin-top: 10px;
        }
        
        img
        {
            height: 16px;
            top: calc(50% - 8px);
        }
    }
    @media (max-width: 575px) {
        input {
            font-size: 10px;
            height: 50px;
            margin-top: 10px;
        }

        img
        {
            height: 16px;
            top: calc(50% - 8px);
        }
    }
</style>