<template>
  <div class="blog-item">
    <h3 class="blog-item-title">{{title}}</h3>
    <div class="blog-item-info">
      <div class="blog-item-author-image"><img :src="author_image"></div>
      <div class="blog-item-meta">
        <div class="blog-item-author-info">{{author}}</div>
        <div class="blog-item-date">{{date}}</div>
      </div>
    </div>
    <div class="blog-item-image"><img :src="image"></div>
    <div class="blog-item-description">{{content}}</div>
  </div>
</template>

<script>

  export default {
    name: 'blog-list-item',
    props: ['title', 'author_image', 'author', 'date', 'image', 'content'],

  }
</script>

<style scoped>
  h3 {
    color: #19216c;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
  }

  .blog-item {
    overflow: hidden;
    margin-bottom: 60px;
    border-bottom: 4px solid #dfdfdf;
  }

  .blog-item:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }

  .blog-item:last-child .blog-item-actions {
    margin-bottom: 0;
  }

  .blog-item-info {
    display: flex;
    margin-bottom: 25px;
  }

  .blog-item-author-image {
    margin-right: 15px;
  }

  .blog-item-author-info {
    font-size: 20px;
    color: #000;
  }

  .blog-item-date {
    color: #686868;
    font-size: 20px;
  }

  .blog-item-image {
    margin-bottom: 20px;
  }

  .blog-item-image img {
    height: 440px;
    width: 100%;
    object-fit: cover;
  }

  .blog-item-description {
    font-size: 24px;
    color: #000;
  }

  .blog-item-actions {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .blog-item-action {
    display: inline-block;
    position: relative;
    margin-right: 50px;
  }

  .blog-item-action:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  .blog-item-action span {
    position: absolute;
    right: -10px;
    top: -10px;
    padding: 1px 3px;
    background: #f22359;
    color: #fff;
    border-radius: 3px;
    font-size: 11px;
  }

  @media (min-width: 1891px) {

  }

  @media (max-width: 1890px) and (min-width: 1200px) {

  }

  @media (max-width: 1199px) and (min-width: 992px) {

  }

  @media (max-width: 991px) and (min-width: 768px) {
    h3 {
      font-size: 20px;
    }

    .blog-item-author-info {
      font-size: 16px;
    }

    .blog-item-date {
      font-size: 12px;
    }

    .blog-item-description {
      font-size: 18px;
    }
  }

  @media (max-width: 767px) and (min-width: 576px) {

  }

  @media (max-width: 575px) {
    h3 {
      font-size: 18px;
    }

    .blog-item-author-info {
      font-size: 14px;
    }

    .blog-item-date {
      font-size: 12px;
    }

    .blog-item-description {
      font-size: 16px;
    }

    .blog-item-action {
      margin-right: 25px;
    }

    .blog-item-action span {
      font-size: 10px;
    }

    .blog-item-action img {
      height: 30px;
    }

    .action .submit {
      width: 140px;
    }
  }

  @media (max-width: 415px) {
    .blog-item-action img {
      height: 15px;
    }

    .action .submit {
      width: 110px;
    }
  }

  @media (max-width: 320px) {
    .blog-item-action img {
      height: 10px;
    }
  }
</style>
