<template>
  <div class="blog-item-actions">
      <div class="comments blog-item-action"><img src="/Icons/Black/Royal_command.svg"></div>
      <div class="like blog-item-action"><img src="/Icons/Black/Royal_Like.svg"><span>11</span></div>
      <div class="like blog-item-action"><img src="/Icons/Black/Royal_Dislike.svg"><span>2</span></div>
      <div class="like blog-item-action"><img src="/Icons/Black/Royal_Share.svg"></div>
  </div>
</template>

<script>
    export default {
        name: 'blog-item-actions',
    }
</script>

<style scoped>

    .blog-item:last-child .blog-item-actions {
        margin-bottom: 0;
    }

    .blog-item-actions {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 50px;
    }
    .blog-item-action {
        display: inline-block;
        position: relative;
        margin-right: 50px;
    }
    .blog-item-action:hover {
        cursor: pointer;
        opacity: 0.7;
    }

    .blog-item-action img {
        height: 30px;
    }
    .blog-item-action span {
        position: absolute;
        right: -10px;
        top: -10px;
        padding: 1px 3px;
        background: #f22359;
        color: #fff;
        border-radius: 3px;
        font-size: 11px;
    }

    @media (max-width: 575px) {
        .blog-item-action {
            margin-right: 25px;
        }

        .blog-item-action img {
            height: 25px;
        }
        .blog-item-action span {
            font-size: 10px;
        }
    }
</style>
