<template>
    <div>
        <ul class="topics-list">
            <li class="topics-list-item">
                <div class="topics-list-item-image-wrap"><img class="topics-list-item-image" src="/svg/Top10.svg"></div>
                <span class="topics-list-item-text">Top 10's</span>
            </li>
            <li class="topics-list-item">
                <div class="topics-list-item-image-wrap"><img class="topics-list-item-image" src="/svg/Ski.svg"></div>
                <span class="topics-list-item-text">Ski</span>
            </li>
            <li class="topics-list-item">
                <div class="topics-list-item-image-wrap"><img class="topics-list-item-image" src="/svg/Trek.svg"></div>
                <span class="topics-list-item-text">Trek</span>
            </li>
            <li class="topics-list-item">
                <div class="topics-list-item-image-wrap"><img class="topics-list-item-image" src="/svg/Motoring.svg"></div>
                <span class="topics-list-item-text">Motoring</span>
            </li>
            <li class="topics-list-item">
                <div class="topics-list-item-image-wrap"><img class="topics-list-item-image" src="/svg/Health.svg"></div>
                <span class="topics-list-item-text">Health</span>
            </li>
            <li class="topics-list-item">
                <div class="topics-list-item-image-wrap"><img class="topics-list-item-image" src="/svg/Fitness.svg"></div>
                <span class="topics-list-item-text">Fitness</span>
            </li>
            <li class="topics-list-item">
                <div class="topics-list-item-image-wrap"><img class="topics-list-item-image" src="/svg/Food.svg"></div>
                <span class="topics-list-item-text">Food</span>
            </li>
            <li class="topics-list-item">
                <div class="topics-list-item-image-wrap"><img class="topics-list-item-image" src="/svg/Cramps.svg"></div>
                <span class="topics-list-item-text">Cramps</span>
            </li>
            <li class="topics-list-item">
                <div class="topics-list-item-image-wrap"><img class="topics-list-item-image" src="/svg/AMS.svg"></div>
                <span class="topics-list-item-text">AMS</span>
            </li>
            <li class="topics-list-item">
                <div class="topics-list-item-image-wrap"><img class="topics-list-item-image" src="/svg/Shopping.svg"></div>
                <span class="topics-list-item-text">Shopping</span>
            </li>
            <li class="topics-list-item">
                <div class="topics-list-item-image-wrap"><img class="topics-list-item-image" src="/svg/Destination.svg"></div>
                <span class="topics-list-item-text">Destination</span>
            </li>
            <li class="topics-list-item">
                <div class="topics-list-item-image-wrap"><img class="topics-list-item-image" src="/svg/Psychology.svg"></div>
                <span class="topics-list-item-text">Psychology</span>
            </li>
            <li class="topics-list-item">
                <div class="topics-list-item-image-wrap"><img class="topics-list-item-image" src="/svg/Team.svg"></div>
                <span class="topics-list-item-text">Team</span>
            </li>
            <li class="topics-list-item">
                <div class="topics-list-item-image-wrap"><img class="topics-list-item-image" src="/svg/Corporate.svg"></div>
                <span class="topics-list-item-text">Corporate</span>
            </li>
            <li class="topics-list-item">
                <div class="topics-list-item-image-wrap"><img class="topics-list-item-image" src="/svg/Porter.svg"></div>
                <span class="topics-list-item-text">Porter</span>
            </li>
            <li class="topics-list-item">
                <div class="topics-list-item-image-wrap"><img class="topics-list-item-image" src="/svg/Water.svg"></div>
                <span class="topics-list-item-text">Water</span>
            </li>
            <li class="topics-list-item">
                <div class="topics-list-item-image-wrap"><img class="topics-list-item-image" src="/svg/Weather.svg"></div>
                <span class="topics-list-item-text">Weather</span>
            </li>
            <li class="topics-list-item">
                <div class="topics-list-item-image-wrap"><img class="topics-list-item-image" src="/svg/Dress.svg"></div>
                <span class="topics-list-item-text">Dress</span>
            </li>
            <li class="topics-list-item">
                <div class="topics-list-item-image-wrap"><img class="topics-list-item-image" src="/svg/Offers.svg"></div>
                <span class="topics-list-item-text">Offers</span>
            </li>
            <li class="topics-list-item">
                <div class="topics-list-item-image-wrap"><img class="topics-list-item-image" src="/svg/Coupons.svg"></div>
                <span class="topics-list-item-text">Coupons</span>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "topics-list",
        data() {
            return {

            }
        }
    }
</script>

<style scoped>
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        font-size: 20px;
        color: #5f5f5f;
        margin-bottom: 15px;
        display: flex;  
    }
    li .topics-list-item-image-wrap{
        display: flex;
        width: 30px;
        height: 30px;
        text-align: center;
        margin-right: 20px;
        justify-content: center;
    }
    li .topics-list-item-image {
        max-width: 100%;
        max-height: 100%;   
    }
    li .topics-list-item-text {
        display: inline-block;
        line-height: 30px;
    }
    @media (min-width: 1891px) {

    }
    @media (max-width: 1890px) and (min-width: 1200px) {
        
    }
    @media (max-width: 1199px) and (min-width: 992px) {
        
    }
    @media (max-width: 991px) and (min-width: 768px) {
        li {
            font-size: 14px;
            margin-bottom: 0;
        }
        li .topics-list-item-image-wrap {
            display: none;
        }
    }
    @media (max-width: 767px) and (min-width: 576px) {
        
    }
    @media (max-width: 575px) {
        
    }
</style>