<template>
  <div class="bucket-list">
    <div class="layer">
      <span >ROYAL SALE</span>
      <h2 class="sales">50% OFF SECOND GUEST</h2>
      <span class="offer">+ UP TO $150 INSTANT SAVINGS</span>
      <button class="btn" type="button" name="button">Go Royal</button>
    </div>
    <div class="content">
      <div class="items">
        <div class="item">
            <div class="list-item">
                <div class="item-image-wrap">
                    <div class="item-image"></div>
                    <h3 class="item-image-title">Chanderkhani pass trek</h3>
                </div>
                <div class="item-content">
                    <div class="item-title">Chanderkhani Pass Trek</div>
                    <h2 class="item-subtitle">High altitude trekking for the first time HimaLayan trekker. </h2>
                    <span class="item-description">Moderate | 7 Days | 14000 ft</span>
                    <div class="item-info">
                        <div class="item-cost">
                            <span class="item-currency">FROM USD</span>
                            <div class="item-value">$ <span>1008</span></div>
                        </div>
                        <div class="item-button">
                            <a href="#">
                                <div class="button pink-button">Go Royal</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="list-item">
                <div class="item-image-wrap">
                    <div class="item-image"></div>
                    <h3 class="item-image-title">Chanderkhani pass trek</h3>
                </div>
                <div class="item-content">
                    <div class="item-title">Chanderkhani Pass Trek</div>
                    <h2 class="item-subtitle">High altitude trekking for the first time HimaLayan trekker. </h2>
                    <span class="item-description">Moderate | 7 Days | 14000 ft</span>
                    <div class="item-info">
                        <div class="item-cost">
                            <span class="item-currency">FROM USD</span>
                            <div class="item-value">$ <span>1008</span></div>
                        </div>
                        <div class="item-button">
                            <a href="#">
                                <div class="button pink-button">Go Royal</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>


export default {
  name: 'bucket-list',
  components: {

  },
  data() {
    return {
      like: false
    }
  }
}
</script>

<style scoped>

body{
  font-size: 24px;
}
.layer{
  height: 485px;
  width: 100%;
  background: url('/bucket-list/layer-bucket-list.png');
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 18%;
}
.sales{
  font-weight: 700;
  font-size: 55px;
}
.layer span{
  letter-spacing: 2px;
  font-size: 24px;
}

.layer .btn{
  margin-top: 20px;
}
.btn{
  width: 115px;
  height: 50px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  background: #f22359;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.3);
}
.content{
  background-color: #f22359;
  padding: 90px 70px 90px 140px;
}


.block-title {
    font-size: 70px;
    margin-bottom: 20px;
}
.content .item:first-child{
  margin-top: 0;
}
.content .item{
  margin-top: 90px;
}
.item-content{
  margin-left: 65px;
}

.item-image-wrap {
    position: relative;
}
.item-image {
    position: relative;
    background-size: cover;
    background-image: url('/planBook/plans-img-1.png');
    background-repeat: no-repeat;
    width: 850px;
    height: 720px;
}

.item-image-title {
    position: absolute;
    top: 45px;
    left: 40px;
    padding: 5px 15px;
    background: rgba(255, 255, 255, 0.3);
    color: #19216c;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
}


.item-title {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 40px;
}

.list-item{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.item-cost{
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 45px;
}
.item-value{
  font-size: 30px;
}

.item-subtitle {
    font-size: 40px;
    color: #fff;
    width: 75%;
    padding-bottom: 45px;
    font-weight: 300;
}
.item-description{
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-top: 48px;
}

.content .button{
  margin-top: 50px;
}
.button{
    color: #f22359;
    background: #fff;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 700;
    font-weight: 400;
    text-transform: none;
}

.button a{
    color: #f22359;
}

@media (max-width: 1650px) and (min-width: 1200px){
  .btn{
    font-size: 15px;

  }

  .item-image{
    width: 637.5px;
    height: 540px;
  }
  .content{
    background-color: #f22359;
    padding: 67.5px 52.5px 67.5px 105px;
  }


  .block-title {
      font-size: 52.5px;
  }


  .item-content{
    margin-left: 50px;
  }


  .item-image-title {
      background: rgba(255, 255, 255, 0.3);
      color: #19216c;
      font-size: 33.75px;
      text-transform: uppercase;
      font-weight: bold;
  }


  .item-title {

      font-size: 37.5px;
  }
  .item-cost{
    font-size: 14px;
  }
  .item-value{
    font-size: 22.5px;
  }

  .item-subtitle {
      font-size: 30px;

  }
  .item-description{
    font-size: 26.5px;
  }

  .button{
    font-size: 20.6px;
    width: 150px;
    height: 60px;
  }

}
@media (max-width: 1299px) and (min-width: 992px) {
  .btn{
    font-size: 12px;
    width: 92px;
    height: 38px;
  }
  .content{
    background-color: #f22359;
    padding: 67.5px 52.5px 67.5px 52.5px;
  }
  .item-image{
    width: 510px;
    height: 432px;
  }

  .block-title {
      font-size: 42px;
  }


  .item-content{
    margin-left: 40px;
  }


  .item-image-title {
    font-size: 27px;

  }


  .item-title {
    font-size: 30px;
    padding-bottom: 20px;
  }
  .item-cost{
    font-size: 11.2px;
    margin-top: 22px;
  }
  .item-value{
    font-size: 18px;
  }

  .item-subtitle {
    font-size: 24px;
    width: 95%;
    padding-bottom: 22px;
  }
  .item-description{
    font-size: 21.2px;
  }
  .content .button{
    margin-top: 25px;
  }
  .button{
    font-size: 16.48px;
    width: 120px;
    height: 48px;
  }
}
@media (max-width: 991px){

  .layer{
    display: none;
  }
  .content{
    padding: 90px 40px;
    display: flex;
    justify-content: center;
  }
  .items{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item{
   width: 87%;
  }
  .item-image{
    width: 100%;
    height: 606px;
  }
  .item-image-wrap{
    width: 100%;
  }
  .list-item{
    flex-direction: column;
  }
  .item-content{
    margin-left: 0;
  }
  .btn{
    font-size: 15px;
  }

  .item-image-title {
    font-size: 33.75px;
  }


  .item-title {
    font-size: 50px;
    margin-top: 40px;
  }

  .item-subtitle {
    font-size: 40px;
    width: 100%;
  }

  .item-cost{
    font-size: 25px;
  }
  .item-value{
    font-size: 35px;
  }
  .item-value span{
    font-size: 47.5px;
  }

  .item-description{
    font-size: 35px;
  }

  .button{
    font-size: 20.6px;
    width: 150px;
    height: 60px;
  }
}
@media(max-width: 680px){
  .content{
    padding: 63px 10px;
    display: flex;
    justify-content: center;
  }

  .item-image{
    width: 100%;
    height: 350px;
  }

  .item-image-title {
    font-size: 23.62px;
  }


  .item-title {
    font-size: 30px;
    padding-bottom: 28px;
    margin-top: 28px;
  }

  .item-subtitle {
    font-size: 28px;
    width: 100%;
    padding-bottom: 30px;
  }

  .item-cost{
    font-size: 17.5px;
    margin-top: 30px;
  }
  .item-value{
    font-size: 24.5px;
  }
  .item-value span{
    font-size: 33.25px;
  }

  .item-description{
    font-size: 24.5px;
  }

  .button{
    font-size: 14.42px;
    width: 115px;
    height: 45px;
  }
  .content .button{
    margin-top: 35px;
  }
}
@media(max-width: 472px){
  .item-image-title{
    left: 10px;
  }
}
@media(max-width: 400px){
  .item-image-title{
    left:0;
  }

  .item-image{
    height: 280px;
  }
  .item-image-title {
    font-size: 23.62px;
  }


  .item-title {
    font-size: 22.5px;
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .item-subtitle {
    font-size: 19.6px;
    width: 100%;
    padding-bottom: 10px;
  }

  .item-cost{
    font-size: 12.5px;
    margin-top: 20px;
  }
  .item-value{
    font-size: 15.5px;
  }
  .item-value span{
    font-size: 23.25px;
  }

  .item-description{
    font-size: 17px;
  }

  .button{
    font-size: 12.42px;
    width: 105px;
    height: 42px;
  }
  .content .button{
    margin-top: 20px;
  }
}

</style>
