<template>
  <div class="change-thrill-popup">
    <div class="title">
      <h3 >Thrills</h3>
    </div>
    <input class="search" value="" placeholder="Введите что нибудь">
    <div class="items">
      <div class="item">
          <div class="plan-list-item">
              <div class="plan-item-image-wrap">
                  <div class="plan-item-image"></div>
                  <div class="plan-item-image-title">Chanderkhani pass trek</div>
                  <div class="like" @click="like=!like">
                    <img v-if="like" src="../../assets/heart-active.png">
                    <img v-else src="../../assets/heart.png">
                  </div>
              </div>
              <div class="plan-content">
                  <div class="plan-item-title">High altitude trekking for the first time.</div>
                  <div class="plan-item-description">Moderate | 7 Days | 14000 ft</div>
                  <div class="plan-item-info">
                      <div class="plan-item-cost">
                          <div class="plan-item-currency">FROM USD</div>
                          <div class="plan-item-value">$ <span>1008</span></div>
                      </div>
                      <div class="plan-item-button">
                          <a href="#">
                              <div class="button pink-button">Go Royal</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="item">
          <div class="plan-list-item">
              <div class="plan-item-image-wrap">
                  <div class="plan-item-image"></div>
                  <div class="plan-item-image-title">Chanderkhani pass trek</div>
                  <div class="like"><img src="../../assets/heart-active.png"></div>
              </div>
              <div class="plan-content">
                  <div class="plan-item-title">High altitude trekking for the first time.</div>
                  <div class="plan-item-description">Moderate | 7 Days | 14000 ft</div>
                  <div class="plan-item-info">
                      <div class="plan-item-cost">
                          <div class="plan-item-currency">FROM USD</div>
                          <div class="plan-item-value">$ <span>1008</span></div>
                      </div>
                      <div class="plan-item-button">
                          <a href="#">
                              <div class="button pink-button">Go Royal</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="item">
          <div class="plan-list-item">
              <div class="plan-item-image-wrap">
                  <div class="plan-item-image"></div>
                  <div class="plan-item-image-title">Chanderkhani pass trek</div>
                  <div class="like"><img src="../../assets/heart-active.png"></div>
              </div>
              <div class="plan-content">
                  <div class="plan-item-title">High altitude trekking for the first time.</div>
                  <div class="plan-item-description">Moderate | 7 Days | 14000 ft</div>
                  <div class="plan-item-info">
                      <div class="plan-item-cost">
                          <div class="plan-item-currency">FROM USD</div>
                          <div class="plan-item-value">$ <span>1008</span></div>
                      </div>
                      <div class="plan-item-button">
                          <a href="#">
                              <div class="button pink-button">Go Royal</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="item">
          <div class="plan-list-item">
              <div class="plan-item-image-wrap">
                  <div class="plan-item-image"></div>
                  <div class="plan-item-image-title">Chanderkhani pass trek</div>
                  <div class="like"><img src="../../assets/heart-active.png"></div>
              </div>
              <div class="plan-content">
                  <div class="plan-item-title">High altitude trekking for the first time.</div>
                  <div class="plan-item-description">Moderate | 7 Days | 14000 ft</div>
                  <div class="plan-item-info">
                      <div class="plan-item-cost">
                          <div class="plan-item-currency">FROM USD</div>
                          <div class="plan-item-value">$ <span>1008</span></div>
                      </div>
                      <div class="plan-item-button">
                          <a href="#">
                              <div class="button pink-button">Go Royal</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="item">
          <div class="plan-list-item">
              <div class="plan-item-image-wrap">
                  <div class="plan-item-image"></div>
                  <div class="plan-item-image-title">Chanderkhani pass trek</div>
                  <div class="like"><img src="../../assets/heart-active.png"></div>
              </div>
              <div class="plan-content">
                  <div class="plan-item-title">High altitude trekking for the first time.</div>
                  <div class="plan-item-description">Moderate | 7 Days | 14000 ft</div>
                  <div class="plan-item-info">
                      <div class="plan-item-cost">
                          <div class="plan-item-currency">FROM USD</div>
                          <div class="plan-item-value">$ <span>1008</span></div>
                      </div>
                      <div class="plan-item-button">
                          <a href="#">
                              <div class="button pink-button">Go Royal</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

  </div>
</template>

<script>


export default {
  name: 'change-thrill-popup',
  components: {

  },
  data() {
    return {
      like: false
    }
  }
}
</script>

<style scoped>

.change-thrill-popup {
    position: absolute;
    left: 19%;
    top: 20%;
    width: 62%;
    overflow: hidden;
    padding: 30px 0;
    background: #eeeeee;
    font-size: 30px;
}
.title, .search{
  color: #19216c;
}
.title{
  width: 100%;
  padding-left: 25px;
}
.title h3{
  width: 98px;
  padding-bottom: 35px;
  text-align: center;
  border-bottom: 4px solid #19216c;
}
.search{
  border: none;
  width: 100%;
  padding: 20px 40px;
  background: url('/img/search-icon-blue.png') no-repeat;
  background-color: #f9f9f9;
}
.search::placeholder{
  font-family: sans-serif;
}
.change-thrill-popup .items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 640px;
  overflow-y: scroll;
}
.change-thrill-popup .item{
  width: 50%;
}

.block-title {
    font-size: 70px;
    margin-bottom: 20px;
}
.plan-subtitle {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

 .plan-menu {
    display: flex;
}

 .plan-menu-item {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: normal;
    cursor: pointer;
    color: #474747;
}

 .plan-menu-item:not(:last-child) {
    border-right: #000000 3px solid;
}

.plan-menu-item.active-item {
    font-weight: 700;
    color: #19216c;
    font-weight: bold;
}

.plan-button, .plan-mobile-button {
    color: #f22359;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    right: 38px;
    bottom: 4px;
}

 .plan-mobile-button {
    display: none;
    position: unset;
}

.plan-button a,  .plan-mobile-button a {
    color: #f22359;
}

.plan-item-image-wrap {
    position: relative;
}
.plan-item-image {
    position: relative;
    background-size: cover;
    background-image: url('../../assets/planBook/plans-img-1.png');
    background-repeat: no-repeat;
    padding-bottom: 53.57%;
}

.plan-item-image-title {
    position: absolute;
    top: 30px;
    left: 24px;
    padding: 5px 15px;
    background: rgba(255, 255, 255, 0.3);
    color: #19216c;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}
.like {
    position: absolute;
    top: 30px;
    right: 24px;
    cursor: pointer;
}

.plan-item-title {
    color: #19216c;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 40px;
}

.plan-content {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45%;
}

.item {
    padding: 25px;
}
 .plan-list-item {
    background: #f7f7f7;
    box-shadow: 0 10px 5px 0px rgba(0, 0, 0, 0.1);
}

.plan-item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan-item-value {
    font-size: 40px;
    font-weight: bold;
}

.plan-item-value span {
    font-size: 47px;
    color: #19216c;
}

.plan-item-cost {
    transform: translate(10px, -8px);
}

.plan-item-currency {
    font-weight: 700;
    font-size: 23px;
}

.plan-item-description {
    font-size: 20px;
    padding-bottom: 35px;
}

.plan-list-container {
    margin-top: 60px;
    width: 120%;
}

.plan-item-button {
    font-size: 24px;
}

.plan-item-button .button {
    width: 160px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1650px) and (min-width: 1200px){
  .change-thrill-popup{
    left: 12%;
    width: 76%;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .change-thrill-popup{
    left: 10%;
    width: 80%;
   }
   .plan-button {
      position: unset;
      margin-top: 20px;
  }
  .like{
    top: 22px;
  }
  .plan-item-image-title{
    font-size: 22px;
    width: 65%;
  }
  .plan-item-title{
    font-size: 22px;
  }
  .plan-item-description{
    font-size: 17px;
  }
  .plan-item-currency{
    font-size: 20px;
  }
  .plan-item-button .button{
    width: 121px;
    height: 60px;
  }
  .plan-item-button{
    font-size: 16px;
  }
  .plan-item-value{
    font-size: 40px;
  }
  .plan-item-value span{
    font-size: 45px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .change-thrill-popup{
    left: 5%;
    width: 90%;
  }
  .change-thrill-popup .item{
    width: 100%;
  }
  .plan-item-image-title, .plan-item-title{
    font-size: 26px;
  }
    .plan-button {
        position: unset;
        margin-top: 20px;
    }

    .like {
        width: 40px;
    }
    .plan-item-button .button {
        width: 170px;
    }
}

@media (max-width: 767px) {
  .plan-list-container {
      width: 100%;
  }
  .change-thrill-popup{
    left: 5%;
    width: 90%;
  }
  .plan-item-image-title, .plan-item-title{
    font-size: 26px;
  }
  .change-thrill-popup .item{
    width: 100%;
  }

  .plan-item-button{
    font-size: 25px;
  }
  .plan-item-description{
    font-size: 21px;
  }
  .plan-item-currency{
    font-size: 20px;
  }
  .plan-item-value span{
    font-size: 40px;
  }
  .plan-item-image-title, .plan-item-title,  .plan-button{
      font-size: 28px;
  }

  .plan-item-description {
      font-size: 22.5px;
  }

  .plan-item-value span {
      font-size: 43.7px;
  }

  .plan-item-value {
      font-size: 37.6px;
  }

  .plan-item-currency {
      font-size: 26.6px;
  }

  .plan-item-button {
      font-size: 26.3px;
  }
  .plan-button {
      display: none;
  }
  .plan-mobile-button {
      display: block;
      text-align: center;
      margin-top: 40px;
      font-size: 28px;
  }
}


@media (max-width: 575px) {
  .change-thrill-popup{
    left: 3%;
    width: 94%;
  }
  .item{
    padding: 15px;
  }
  img{
    max-width: 75%
  }
  .like{
    top: 15px;
    right: 0px;
  }
  .plan-item-image-title{
    padding: 0 5px;
  }
  .plan-item-image-title, .plan-item-title, .plan-item-button{
    font-size: 16px;
  }
  .plan-item-title{
    padding-bottom: 20px;
  }
  .change-thrill-popup .item{
    width: 100%;
  }
  .plan-content{
    padding: 5px 10px;
  }

  .plan-item-description{
    font-size: 13px;
  }
  .plan-item-currency{
    font-size: 14px;
  }
  .plan-item-value span{
    font-size: 30px;
  }
  .plan-item-button .button {
      width: 123px;
      height: 45px;
  }
  .plan-item-value {
      font-size: 25px;
  }

}
@media (max-width: 350px) {
  .plan-item-image-title, .plan-item-title, .plan-item-button{
    font-size: 15px;
  }
}
</style>
