<template>
    <div>
      </ManageBooking>
      </ChangeThrillPopup>
    </div>
</template>

<script>
import ManageBooking from './ManageBooking.vue'
import ChangeThrillPopup from './ChangeThrillPopup.vue'

export default {
  name: 'myBookings-content',
  components: {
    Details,
    Trips,
    ManageBooking,
    ChangeThrillPopup
  },
  data() {
    return {

    }
  }
}
</script>

<style scoped>

</style>
