<template>
  <div class="manage-booking">
    <h1 class="title">Manage Booking</h1>
    <div class="items">
      <div class="item" @mouseover="isActive = true"
                        @mouseleave="isActive = false"
                        :class="{'item-active': isActive}">
        <div class="info">
          <h2 class="name">Kalapattar Trek</h2>
          <span class="date">Oct 28 - Oct 31</span>
          <span class="your-id">Trip id : <span class="underline" :class="{'link-active': isActive}">RT20156875</span></span>
        </div>
        <div class="action">
          <button class="btn btn-change" type="button"  :class="{'btn-change-active': isActive}">Change</button>
          <button class="btn btn-cancel" type="button"  :class="{'btn-cancel-active': isActive}">Cancel</button>
        </div>
      </div>
      <div class="item">
        <div class="info">
          <h2 class="name">Kalapattar Trek</h2>
          <span class="date">Oct 28 - Oct 31</span>
          <span class="your-id">Trip id : <span class="underline">RT20156875</span></span>
        </div>
        <div class="action">
          <button class="btn btn-change" type="button" name="button">Change</button>
          <button class="btn btn-cancel" type="button" name="button">Cancel</button>
        </div>
      </div>
    </div>
    <div class="help">
      <h1 class="title">We’re here to help</h1>
      <span>Confirmation # P2BXL7<br>
          Trip id :  <a href="#" class="link">RT20156875</a><br>
      </span>
      <span class="support">
        <a class="support-link">ROYAL THIRILLS SUPPORT</a><br>
        Contact Royal thrills if you need help managing this itinerary
      </span>
    </div>

  </div>
</template>

<script>


export default {
  name: 'ManageBooking',
  components: {

  },
  data() {
    return {
      isActive: false
    }
  }
}
</script>

<style scoped>

.manage-booking{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0 90px 0;
}
.title{
  color: #19216c;
  font-size: 65px;
}
.title:first-child{
  font-weight: bold;
  text-transform: none;
}

.items{
  display: flex;
  flex-direction: column;
  width: 62%;
  margin-top: 90px;
}
.item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px;
  margin-top: 35px;
  background-color: #fefefe;
  border-radius: 5px;
}
.item-active{
  background-color: #f22359;
  color: #ffffff;
}
.name{
  font-size: 40px;
  font-weight: 500;
}

.date{
  font-size: 30px;
  font-weight: 300;
  margin-top:25px;

}
.your-id{
  font-size: 27px;
  font-weight: 200;
  margin-top: 50px;
}
.info{
  display: flex;
  flex-direction: column;
}
.link{
  text-transform: uppercase;
  text-decoration: underline;
}
.link-active{
  color: #fff;
}
.btn{
  width: 115px;
  height: 50px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.3);
}
.action .btn:last-child{
  margin-left: 30px;
}
.btn-change{
  background: #f33264;
  color: #ffffff;
}
.btn-cancel{
  background: #b5b5b5;
  color: #202020;
}
.btn-change-active{
  background: #ffffff;
  color: #f33264;

}
.btn-cancel-active{
  background: #f1f1f1;
}
.help{
  text-align: center;
  margin-top: 220px;
  font-size: 24px;
}
.help .title{
  font-weight: 400;
  padding-bottom: 30px;
}
.support{
  margin-top: 50px;
}
.support-link{
  color: red;
}
@media (max-width: 1650px) and (min-width: 1200px){
  .items{
    width: 70%;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .items{
    width: 80%;
  }
}
@media (max-width: 991px) {
  .items{
    width: 85%;
  }
  .item{
    padding: 20px 30px;
  }
  .title{
    font-size: 40px;
  }
  .name, .date{
    font-size: 25px
  }
  .date{
    margin-top: 15px;
  }
  .your-id{
    font-size: 19px;
    margin-top:30px;
  }
  .btn{
    width: 72px;
    height: 30px;
    font-size: 12.5px;
  }
  /* .action{
    flex-direction: column;
  } */
  .action .btn:last-child{
    margin-left: 20px;
  }
  .help{
    text-align: center;
    margin-top: 90px;
    width: 85%;
  }
  .help .title{
    font-weight: 400;
    padding-bottom: 30px;
  }
  .support{
    margin-top: 0px;
  }
  .support-link{
    color: red;
  }
}


@media (max-width: 575px) {
  /* .item{
    flex-direction: column;
    align-items: center;

  } */
  .item{
    padding: 10px 20px;
  }
  .title{
    font-size: 35px;
  }
  .name, .date{
    font-size: 17px;
  }
  .your-id{
    font-size: 12px;
  }
  .action .btn[data-v-b4d667b4]:last-child {
      margin-left: 15px;
  }
  .btn{
    width: 60px;
    height: 30px;
    font-size: 10.5px;
  }
  .help{
    font-size: 18px;
  }
  .help .title{
    font-size: 30px;
  }
  .support{
    margin-top: 0px;
  }
  .support-link{
    color: red;
    cursor: pointer;

  }

}
@media (max-width: 396px) {
  .title{}
  .name, .date{
    font-size: 15px;
  }
  .your-id{
    font-size: 11px;
  }
  .action .btn[data-v-b4d667b4]:last-child {
      margin-left: 10px;
  }
  .btn{
    width: 55px;
    height: 25px;
    font-size: 9.5px;
  }
}
</style>
