<template>
    <div class="dropdown" v-click-outside="hide" @click="isVisible = !isVisible">Client Name
      <i class="arrow down" />
        <div class="dropdown-active" v-if="isVisible">
            <a href="#abc" class="item">
                <img src="/dropdown1.png" alt="">
                <span>My Bookings</span>
            </a>
            <a href="#" class="item">
                <img src="/dropdown2.png" alt="">
                <span>Bucket-list</span>
            </a>
            <a href="#" class="item">
                <img src="/dropdown3.png" alt="">
                <span>My Profile</span>
            </a>
            <a href="#" class="item">
                <img src="/dropdown4.png" alt="">
                <span>Logout</span>
            </a>
        </div>
    </div>
</template>

<script>
    import clickOutside from 'vue-click-outside';
    export default {
        name: "profile-menu",
        data: function () {
            return {
                isVisible: false
            }
        },
        methods: {
            hide: function () {
                this.isVisible = false;
            }
        },
        mounted: function () {
            this.popupItem = this.$el;
        },
        directives: {
            clickOutside
        }
    }
</script>

<style scoped>
    .dropdown {
        position: relative;
        cursor: pointer;
    }
    .dropdown a {
        color: white;
    }
    .dropdown-active {
        position: absolute;
        padding-top: 30%;
        width: 150px;
        transform: translateX(-10px);

    }

    .dropdown-active .item {
        background-color: #374e74;
        border-bottom: 1px solid #263b5e;
        width: 100%;
        height: 45px;
        text-transform: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        padding-left: 2px;
        padding-right: 2px;
    }

    .dropdown-active .item span {
        font-size: 15px;
        margin-left: 7px;
    }

    .dropdown-active img {
        width: 21px;
        height: 25px;
        margin-left: 15px;
    }

    .arrow {
      border: solid white;
      border-width: 0 2px 2px 0;
      display: inline-flex;
      padding: 4px;
      margin-left: 10px;
      margin-bottom: 3px;
    }

    .arrow.down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transition: .3s;
    }

    .dropdown-icon {
        width: 15px;
        height: 10px;
    }

    @media (max-width: 991px) and (min-width: 768px) {
        .dropdown-active {
            width: 100px;
            padding-top: 25%;
            transform: translateX(-25px);
        }

        .dropdown-icon {
            transform: translateX(10px);
        }

        .dropdown-active .item span {
            font-size: 11px;
            margin-left: 7px;

        }

        .dropdown-active img {
            width: 17px;
            height: 21px;
            margin-left: 5px;
        }
    }
</style>
