<template>
  <div class="email-sendler">
      <div class="block-title" style="margin-bottom: 0px">Go Royal</div>
      <div class="sendler-text-1">Lace up to freedom</div>
      <div class="sendler-text-2">You are exclusive and so is our destinations & deals</div>
      <div class="sendler-email-body">
          <input type="email" placeholder="Email Address">
          <div class="sendler-button"><a href="#">Join</a></div>
      </div>
  </div>
</template>

<script>

export default {
  name: 'email-sender',
  data() {
    return {

    }
  }
}
</script>

<style scoped>

.email-sendler {
    margin-top: 80px;
    text-align: center;
    width: 873px;
    margin-left: auto;
    margin-right: auto;
}

.email-sendler .sendler-text-1 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
}

.email-sendler .sendler-text-2 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
}

.email-sendler .sendler-title {
    margin-bottom: 0px;
}

.email-sendler .sendler-email-body {
    position: relative;
}

.email-sendler .sendler-button {
    position: absolute;
    bottom: 34px;
    right: 20px;
    color: #f22359;
    font-size: 20px;
    font-weight: 500;
}

.email-sendler .sendler-button a {
    color: #f22359;
}

.email-sendler .sendler-email-body input {
    background: none;
    border: 0;
    border-bottom: #b3b3b4 1px solid;
    width: 100%;
    padding: 10px 70px 34px 10px;
    font-size: 20px;
    margin-top: 20px;
}



@media (max-width: 991px) and (min-width: 768px) {
    .email-sendler {
        width: 100%;
    }
    .email-sendler .sendler-text-1 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 35px;
    }
    .email-sendler .sendler-text-2 {
        font-size: 25px;
    }
    .experience .experience-button {
        right: 20px;
    }
}

@media (max-width: 991px) {

    .email-sendler {
        width: 88%;
        margin-top: 120px;
    }
}

@media (max-width: 767px) {
    .experience .experience-button {
        display: none;
    }
}

@media (max-width: 575px) {

    .email-sendler .sendler-text-2 {
        font-size: 20px;
    }
}
</style>
