<template>
    <div class="home body">
        <Promo/>
        <PlanBook/>
        <SeeExperience/>
        <EmailSender/>
        <MyTrips/>
        <Connect/>
    </div>
</template>

<script> 
import Promo from './Promo'
import PlanBook from './PlanBook'
import SeeExperience from './SeeExperience'
import EmailSender from './EmailSender'
import MyTrips from './MyTrips'
import Connect from './Connect'

export default {
  name: 'home',
  components: {
    Promo,
    PlanBook,
    SeeExperience,
    EmailSender,
    MyTrips,
    Connect
  },
  data() {
    return {

    }
  }
}
</script>

<style scoped>
/deep/ .block-title {
  color: #19216c;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 1199px) and (min-width: 992px) {
  /deep/ .block-title {
    font-size: 55px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  /deep/ .block-title {
    font-size: 50px;
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  /deep/ .block-title {
    font-size: 50px;
  } 
}
@media (max-width: 575px) {
  /deep/ .block-title {
    font-size: 40px;
  }
}
</style>
