<template>
    <div id="see-and-experience">
        <div class="experience">
            <div class="block-title container-fluid padding-style">
                <div class="experience-title">Chanderkhani Pass Trek</div>
                <div class="experience-button"><a href="#">View All</a></div>
            </div>
            <div class="experience-body">
                <div class="experience-main-item">
                    <div class="experience-main-item-image"></div>
                    <div class="experience-main-hint">Video sub title goes here</div>
                    <div style="width: 210px;height: 210px;position: absolute;left: calc(50% - 50px);top: calc(50% - 50px);">
                        <img src="/play-button.png" style="width:100px;">
                    </div>
                </div>
                <div class="experience-items-list">
                    <div class="experience-items-wrapper">
                        <div class="experience-item">
                            <div class="experience-item-image-wrap"><div class="experience-item-image" style="background-image:url(/experience/side-experience-1.png)"></div></div>
                            <div class="experience-item-info">
                                <div class="experience-item-title">Title Here</div>
                            </div>
                        </div>
                        <div class="experience-item">
                            <div class="experience-item-image-wrap"><div class="experience-item-image" style="background-image:url(/experience/side-experience-2.png)"></div></div>
                            <div class="experience-item-info">
                                <div class="experience-item-title">Title Here</div>
                            </div>
                        </div>
                        <div class="experience-item">
                            <div class="experience-item-image-wrap"><div class="experience-item-image" style="background-image:url(/experience/side-experience-3.png)"></div></div>
                            <div class="experience-item-info">
                                <div class="experience-item-title">Title Here</div>
                            </div>
                        </div>
                        <div class="experience-item">
                            <div class="experience-item-image-wrap"><div class="experience-item-image" style="background-image:url(/experience/side-experience-2.png)"></div></div>
                            <div class="experience-item-info">
                                <div class="experience-item-title">Title Here</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>


export default {
  name: 'see-experience',
  component: {

  }
}
</script>

<style scoped>
.block-title {
    position: relative;
}

.experience {
    margin-top: 50px;
}

.experience .experience-button {
    right: 40px;
}
.experience-title{
  color: #19216c;
  font-weight: bold;
  font-size: 30px;
}
.experience .experience-body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 40px;
}

.experience .experience-main-item {
    position: relative;
    padding: 0 10px 0 0;
    -ms-flex: 0 0 68.78%;
    -webkit-box-flex: 0;
    flex: 0 0 68.78%;
    max-width: 68.78%;
}

.experience .experience-items-list {
    position: relative;
    padding: 0 0 0 10px;
    -ms-flex: 0 0 31.22%;
    -webkit-box-flex: 0;
    flex: 0 0 31.22%;
    max-width: 31.22%;
}

.experience .experience-main-title {
    background: rgba(0, 0, 0, 0.4);
    padding: 5px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top: 50px;
    left: 55px;
}

.experience .experience-main-hint {
    position: absolute;
    bottom: 40px;
    left: 0;
    font-size: 30px;
    font-weight: 500;
    right: 0;
    text-align: center;
}

.experience-items-wrapper {
    position: absolute;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    left: 15px;
    right: 0;
}

.experience-items-wrapper::-webkit-scrollbar {
    width: 5px;
}
.experience-items-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.experience-items-wrapper::-webkit-scrollbar-thumb {
    background: #aaa;
}
.experience-items-wrapper::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.experience-main-item-image  {
    padding-bottom: 62.61%;
    background-image: url('/experience/main-experience.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.experience-item {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #fff;
    margin-bottom: 15px;
    overflow: hidden;
}
.experience-item:last-child{
    margin-bottom: 0;
}
.experience-item-image-wrap {
    -webkit-box-flex: 0;
    flex: 0 0 47.27%;
    max-width: 47.27%;
    position: relative;
}
.experience-item-image {
    padding-bottom: 73.46%;
    background-size: cover;
}
.experience-item-info {
    -webkit-box-flex: 0;
    flex: 0 0 52.73%;
    max-width: 52.73%;
    position: relative;
    color: #353535;
    padding: 80px 30px 0 40px;
}
.experience-item-title {
    font-weight: bold;
    font-size: 30px;
    color: #19216c;
}

.experience .experience-button {
    position: absolute;
    color: #553d44;
    font-size: 30px;
    right: 50px;
    bottom: 0;
}

.experience .experience-button a {
    color: #f22359;
}


@media (max-width: 1890px) and (min-width: 1200px) {
    .experience-item-info {
        padding: 35px 20px 0 20px
    }
    .experience-title{
      font-size: 22.5px;
    }
}
@media (max-width: 1199px) and (min-width: 992px) {
    .experience-item-info {
        padding: 25px 10px 0 10px
    }
    .experience-item-title {
        font-size: 24px;
    }
    .experience-title{
      font-size: 18px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .experience .experience-button {
        right: 20px;
    }
}

@media (max-width: 991px) {
    .experience .experience-body {
        display: block;
        margin-top: 20px;
    }
    .experience .experience-main-item {
        position: relative;
        padding: 0;
        -ms-flex: none;
        -webkit-box-flex: none;
        flex: none;
        max-width: 100%;
    }
    .experience .experience-items-list {
        position: relative;
        padding: 0;
        -ms-flex: none;
        -webkit-box-flex: none;
        flex: none;
        max-width: 100%;
        overflow-x: auto;
    }
    .experience-items-wrapper {
        position: relative;
        overflow-y: initial;
        left: 0;
        display: flex;
        width: fit-content;
    }

    .experience-item {
        display: block;
        background: transparent;
        margin: 30px 15px 0;
        width: 226px;
    }

    .experience-item-image-wrap {
        display: block;
        padding: 0;
        -ms-flex: none;
        -webkit-box-flex: none;
        flex: none;
        max-width: 100%;
    }
    .experience-item-image {
        padding-bottom: 142.31%;
        background-size: cover;
        background-position: center;
    }
    .experience-item-info {
        display: block;
        -ms-flex: none;
        -webkit-box-flex: none;
        flex: none;
        max-width: 100%;
        padding: 0;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .experience-title {
        font-weight: bold;
        font-size: 27px;
        margin: 15px 30px 5px;
    }
    .experience-description {
        font-size: 16px;
        margin: 0 5px 25px;
    }
}

@media (max-width: 767px) {
    .experience .experience-button {
        display: none;
    }
}

@media (max-width: 575px) {
    .experience .experience-button {
        display: none;
    }
    .experience .experience-main-title {
        top: 20px;
        left: 20px;
        font-size: 15px;
    }
    .experience .experience-main-hint {
        bottom: 20px;
        font-size: 15px;
    }
}
</style>
