<template>
    <div class="bucket-list body">
      <BucketList/>
      <Trips/>
    </div>
</template>

<script>
import Trips from '~/components/pages/itinerary/content/Trips.vue'
import BucketList from '~/components/pages/bucket-list/BucketList.vue'

export default {
  name: 'bucket-list',
  components: {
    Trips,
    BucketList
  },
  data() {
    return {

    }
  }
}
</script>

<style scoped>

</style>
