<template>
    <div class="layer">
      <div class="container">
        <span>ROYAL SALE</span>
        <h2 class="sales">50% OFF SECOND GUEST</h2>
        <span class="offer">+ UP TO $150 INSTANT SAVINGS</span>
        <button class="btn d-block" type="button" name="button">Go Royal</button>
      </div>
    </div>
</template>

<script>
    export default {
        name: 'banner-sale',
        props: [],
        data() {
            return {

            }
        }
    }
</script>

<style scoped>
    .layer{
        height: 430px;
        width: 100%;
        background: url('/banners/banner-sale.png');
        background-size: cover;
        background-position: center bottom;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-size: 24px;
        line-height: 1;
    }
    .layer span {
        letter-spacing: 2px;
    }
    .layer .btn{
        margin-top: 20px;
    }
    h2.sales {
        font-size: 55px;
        font-weight: bold;
    }
    .btn{
        width: 115px;
        height: 50px;
        font-size: 20px;
        border: 0;
        border-radius: 5px;
        color: #fff;
        background: #f22359;
        box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.3);
    }
    @media (min-width: 1891px) {

    }
    @media (max-width: 1890px) and (min-width: 1200px) {

    }
    @media (max-width: 1199px) and (min-width: 992px) {

    }
    @media (max-width: 991px) and (min-width: 768px) {

    }
    @media (max-width: 767px) {
        h2.sales {
            font-size: 44px;
        }
        .layer{
            height: 290px;
        }
    }
    @media (max-width: 575px) {
        h2.sales {
            font-size: 24px;
        }
        .layer{
            font-size: 14px;
        }
    }
</style>
