<template>
  <div class="manage-booking">
      <Bookings/>
      <Trips/>

  </div>
</template>

<script>
import Trips from '~/components/pages/itinerary/content/Trips.vue'
import Bookings from '~/components/pages/bookings'
export default {
  name: 'ManageBooking',
  components: {
    Trips,
    Bookings
  },
  data() {
    return {
     isActive: false
    }
  }
}
</script>

<style scoped>
</style>
