<template>
    <div>
        <Header/>
        <nuxt/>
        <Footer/>
    </div>
</template>

<script>
    import 'bootstrap/dist/css/bootstrap.css';
    import '~/components/slider/slick.css';
    import Header from "~/components/Header.vue";
    import Footer from "~/components/Footer.vue";

    export default {
        components: {
            Header, Footer
        }
    };
</script>

<style>
    h1  
    {
        color: #19216c;
    }
    
    .h1--small
    {
        font-size: 30px;
    }
    
    p
    {
        font-size: 24px;
    }
    
    .p--top-margin
    {
        margin-top: 60px;
    }
    
    .content
    {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    .text--center
    {
        text-align: center;
    }
    
    .text--justify
    {
        text-align: justify;
    }
    
    .link--black
    {
        text-decoration: none;
        color: black;
    }

    .link--black:hover
    {
        text-decoration: none;
        color: black;
    }
    
    .block--float-right
    {
        float: right;
    }
    
    .center-full-screen
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 115px);
    }
    
    @font-face {
        font-family: "Sharp Sans No1";
        src: url("/fonts/SharpSansNo1-Bold.otf"),
        url("/fonts/SharpSansNo1-Bold.ttf") format("truetype");
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: "Sharp Sans No1";
        src: url("/fonts/SharpSansNo1-Medium.otf"),
        url("/fonts/SharpSansNo1-Medium.ttf") format("truetype");
        font-weight: normal;
    }

    @font-face {
        font-family: "Sharp Sans No1";
        src: url("/fonts/SharpSansNo1-BoldItalic.otf"),
        url("/fonts/SharpSansNo1-BoldItalic.ttf") format("truetype");
        font-weight: bold;
        font-style: italic;
    }

    a {
        text-decoration: none !important;
    }

    a.base-link
    {
        color: #1257e4;
        display: inline-block;
        position: relative;
    }
    a.base-link:before
    {
        content: '';
        display: block;
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 100%;
        border-bottom: 1px solid #1257e4;
    }

    a.base-link--black
    {
        color: black;
    }

    a.base-link--black:before
    {
        border-color: black;
    }

    body {
        background: #f1f1f1;
        font-family: 'Sharp Sans No1';
        font-weight: normal;
        overflow-x: hidden;
    }

    img {
        max-width: 100%;
    }

    .body {
        background: #f1f1f1;
    }

    .flexed {
        display: flex;
    }

    .button {
        padding: 10px 25px;
        border-radius: 3px;
        box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.3);
        display: flex;
        cursor: pointer;
        width: 200px;
        height: 78px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a .button {
        color: white;
        font-weight: 300;
    }

    .pink-button {
        background: #f22359;
    }

    .pink-button.book {
        font-size: 24px;
        margin-bottom: 50px;
    }

    .container-fluid.padding-style {
        padding-right: 55px;
        padding-left: 55px;
    }

    @media (min-width: 1200px) {
        .container {
            max-width: 1200px;
        }
    }

    @media (max-width: 450px) {
        .center-full-screen
        {
            height: 75vh;
        }
    }

    .clearfix {
        clear: both;
    }
</style>

