<template>
  <div class="change-thrill-popup">
    <div class="title">
      <h3 >Thrills</h3>
    </div>
    <img src="/close-icon.png" class="close">
    <input class="search" value="" placeholder="Enter something">
    <div id="plan-and-book">
      <div class="plan container-fluid">
        <div class="plan-list-container">
          <client-only>
            <slick
              ref="slick"
              :options="sliderOptions">
              <div class="plan-list-item-wrap">
                <div class="plan-list-item">
                  <div class="plan-item-image-wrap">
                    <div class="plan-item-image"></div>
                    <div class="plan-item-image-title">Chanderkhani pass trek</div>
                    <div class="like"><img src="/heart.png"></div>
                  </div>
                  <div class="plan-content">
                    <div class="plan-item-title">High altitude trekking for the first time.</div>
                    <div class="plan-item-description">Moderate | 7 Days | 14000 ft</div>
                    <div class="plan-item-info">
                      <div class="plan-item-cost">
                        <div class="plan-item-currency">USD</div>
                        <div class="plan-item-value">$ <span>1008</span></div>
                      </div>
                      <div class="plan-item-button">
                        <a href="#">
                          <div class="button pink-button">Go Royal</div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="plan-list-item-wrap">
                <div class="plan-list-item">
                  <div class="plan-item-image-wrap">
                    <div class="plan-item-image"></div>
                    <div class="plan-item-image-title">Chanderkhani pass trek</div>
                    <div class="like"><img src="/heart-active.png"></div>
                  </div>
                  <div class="plan-content">
                    <div class="plan-item-title">High altitude trekking for the first time.</div>
                    <div class="plan-item-description">Moderate | 7 Days | 14000 ft</div>
                    <div class="plan-item-info">
                      <div class="plan-item-cost">
                        <div class="plan-item-currency">USD</div>
                        <div class="plan-item-value">$ <span>1008</span></div>
                      </div>
                      <div class="plan-item-button">
                        <a href="#">
                          <div class="button pink-button">Go Royal</div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="plan-list-item-wrap">
                <div class="plan-list-item">
                  <div class="plan-item-image-wrap">
                    <div class="plan-item-image"></div>
                    <div class="plan-item-image-title">Chanderkhani pass trek</div>
                    <div class="like"><img src="/heart.png"></div>
                  </div>
                  <div class="plan-content">
                    <div class="plan-item-title">High altitude trekking for the first time.</div>
                    <div class="plan-item-description">Moderate | 7 Days | 14000 ft</div>
                    <div class="plan-item-info">
                      <div class="plan-item-cost">
                        <div class="plan-item-currency">USD</div>
                        <div class="plan-item-value">$ <span>1008</span></div>
                      </div>
                      <div class="plan-item-button">
                        <a href="#">
                          <div class="button pink-button">Go Royal</div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="plan-list-item-wrap">
                <div class="plan-list-item">
                  <div class="plan-item-image-wrap">
                    <div class="plan-item-image"></div>
                    <div class="plan-item-image-title">Chanderkhani pass trek</div>
                    <div class="like"><img src="/heart.png"></div>
                  </div>
                  <div class="plan-content">
                    <div class="plan-item-title">High altitude trekking for the first time.</div>
                    <div class="plan-item-description">Moderate | 7 Days | 14000 ft</div>
                    <div class="plan-item-info">
                      <div class="plan-item-cost">
                        <div class="plan-item-currency">USD</div>
                        <div class="plan-item-value">$ <span>1008</span></div>
                      </div>
                      <div class="plan-item-button">
                        <a href="#">
                          <div class="button pink-button">Go Royal</div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </slick>
          </client-only>
        </div>
      </div>

    </div>
    </div>

</template>

<script>


export default {
  name: 'change-thrill-popup',
  components: {

  },

    data() {
      return {
        like: false,
        sliderOptions: {
          slidesToShow: 2,
          dots: false,
          arrows: true,
          infinite: true,
          autoplay: false,
          autoplaySpeed: 6000,
          prevArrow: '<span class="prev-arrow"></span>',
          nextArrow: '<span class="next-arrow"></span>',
          responsive: [
            {
              breakpoint: 1200,
              settings: {
                slidesToShow: 2
              }
            },
            {
              breakpoint: 992,
              settings: {
                arrows: false,
                slidesToShow: 2
              }
            },
            {
              breakpoint: 768,
              settings: {
                arrows: false,
                slidesToShow: 1
              }
            },
          ]

  }
}
}
}
</script>

<style scoped>

.change-thrill-popup {
  margin: 0 auto;
  width: 62%;
  overflow: hidden;
  padding: 30px 0;
  background: #eeeeee;
  font-size: 30px;
  border-radius: 10px;
  position: relative;
}
.close{
  opacity: 1;
  position: absolute;
  right: 30px;
  top: 40px;

}
/deep/ .plan .plan-list-container {
width: 100%;
}
/deep/ .next-arrow{
  right: 50px;
}
.title, .search{
  color: #19216c;
}
.title{
  width: 100%;
  padding-left: 25px;
}
.title h3{
  width: 98px;
  padding: 0 0 35px 0;
  text-align: center;
  margin: 0;
  border-bottom: 4px solid #19216c;
}
.search{
  border: none;
  width: 100%;
  padding: 20px 30px 20px 95px;
  background: url('/search-icon-blue.png') no-repeat 40px center;

  background-color: #f9f9f9;
}
.search::placeholder{
  font-family: sans-serif;
}
/deep/ .sales-body, /deep/ .block-title, /deep/ .plan-subtitle .plan-menu, /deep/ .plan-subtitle .plan-button{
  display: none;
}
/deep/ .plan{
  margin-top: 0;
}
@media (max-width: 1650px) and (min-width: 1200px){
  .change-thrill-popup{
    width: 76%;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .change-thrill-popup{
    width: 80%;
   }
   .plan-button {
      position: unset;
      margin-top: 20px;
  }
  /* .like{
    top: 22px;
  }
  .plan-item-image-title{
    font-size: 22px;
    width: 65%;
  }
  .plan-item-title{
    font-size: 22px;
  }
  .plan-item-description{
    font-size: 17px;
  }
  .plan-item-currency{
    font-size: 20px;
  }
  .plan-item-button .button{
    width: 121px;
    height: 60px;
  }
  .plan-item-button{
    font-size: 16px;
  }
  .plan-item-value{
    font-size: 40px;
  }
  .plan .plan-item-button .button[data-v-5262245a] {
    width: 145px;
    height: 55px;

    font-size: 21px;
  }
  .plan .plan-item-description[data-v-5262245a] {
      font-size: 20px;
    }
  .plan .plan-item-description{
    font-size: 20px;
  }
  .plan-item-value{
    font-size: 30px;
  }
  .plan-item-value span{
    font-size: 35px;
  }
  .plan .plan-item-value span {
    font-size: 35px;
  } */

}

@media (max-width: 991px) and (min-width: 768px) {
  .change-thrill-popup{
    width: 90%;
  }
  .search{
    background-color: #f9f9f9;
  }
  .title h3, .search{
    font-size: 30px;
  }
  .item{
    padding: 40px  25px 0 25px;
  }
  .change-thrill-popup .item{
    width: 100%;
  }
  .plan-item-image-title, .plan-item-title{
    font-size: 26px;
  }
  .plan-button {
      position: unset;
      margin-top: 20px;
  }

  .like {
      width: 40px;
  }
  .plan-item-button .button {
      width: 170px;
  }
  .plan .plan-item-button .button[data-v-5262245a] {
    width: 140px;
    height: 53px;
    font-size: 21px;
}
.plan .plan-item-value[data-v-5262245a] {
    font-size: 30px;
    font-weight: bold;
}
.plan .plan-item-value span[data-v-5262245a] {
    font-size: 31px;
}
.plan .plan-item-button .button[data-v-5262245a][data-v-5262245a] {
    width: 110px;
    height: 44px;
    font-size: 12px;
}
.plan .plan-item-description[data-v-5262245a] {
    font-size: 18px;
  }
  .plan .plan-item-title[data-v-5262245a] {
    font-size: 19px;
  }
  .plan .plan-content[data-v-5262245a] {
    padding: 20px 20px;
  }
  .plan .plan-item-image-title[data-v-5262245a] {
    font-size: 14px;
}
}

@media (max-width: 767px) {
  .plan-list-container {
      width: 100%;
  }
  .change-thrill-popup{
    width: 90%;
  }
  .search{
    padding: 10px 0px 10px 75px;
    background: url('/search-icon-blue.png') no-repeat 20px center;
    background-color: #f9f9f9;
  }
  .plan-item-image-title, .plan-item-title{
    font-size: 26px;
  }
  .title h3, .search{
    font-size: 30px;
  }
  .change-thrill-popup .item{
    width: 100%;
  }

  .plan-item-button{
    font-size: 25px;
  }
  .plan-item-description{
    font-size: 21px;
  }
  .plan-item-currency{
    font-size: 20px;
  }
  .plan-item-value span{
    font-size: 40px;
  }
  .plan-item-image-title, .plan-item-title,  .plan-button{
      font-size: 28px;
  }

  .plan-item-description {
      font-size: 22.5px;
  }

  .plan-item-value span {
      font-size: 43.7px;
  }

  .plan-item-value {
      font-size: 37.6px;
  }

  .plan-item-currency {
      font-size: 26.6px;
  }

  .plan-item-button {
      font-size: 26.3px;
  }
  .plan-button {
      display: none;
  }
  .plan-mobile-button {
      display: block;
      text-align: center;
      margin-top: 40px;
      font-size: 28px;
  }
}


@media (max-width: 575px) {
  .change-thrill-popup{
    width: 94%;
  }
  .item{
    padding: 15px;
  }
  img{
    max-width: 75%
  }
  .like{
    top: 15px;
    right: 0px;
  }
  .title h3{
    font-size: 30px;
  }

  .search{
    font-size: 25px;
    padding: 10px 0 10px 65px;
    background: url('/search-icon-blue.png') no-repeat 25px center;
    background-color: #f9f9f9;

  }
  .plan-item-image-title{
    padding: 0 5px;
  }
  .plan-item-image-title, .plan-item-title, .plan-item-button{
    font-size: 16px;
  }
  .plan-item-title{
    padding-bottom: 20px;
  }
  .change-thrill-popup .item{
    width: 100%;
  }
  .plan-content{
    padding: 5px 10px;
  }

  .plan-item-description{
    font-size: 13px;
  }
  .plan-item-currency{
    font-size: 14px;
  }
  .plan-item-value span{
    font-size: 30px;
  }
  .plan-item-button .button {
      width: 123px;
      height: 45px;
  }
  .plan-item-value {
      font-size: 25px;
  }

}
@media (max-width: 350px) {
  .plan-item-image-title, .plan-item-title, .plan-item-button{
    font-size: 15px;
  }
  .search{
    font-size: 25px;
    padding: 10px 0px 10px 60px;
    background: url('/search-icon-blue.png') no-repeat 25px center;
    background-color: #f9f9f9;
  }
}
#plan-and-book {
  width: 100%;
  overflow: hidden;
}

.plan {
  margin-bottom: 80px;
}

.block-title {
  font-size: 70px;
  margin-bottom: 20px;
}

.plan .plan-subtitle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.plan .plan-menu {
  display: flex;
}

.plan .plan-menu-item {
  padding-right: 30px;
  padding-left: 30px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: normal;
  cursor: pointer;
  color: #474747;
}

.plan .plan-menu-item:not(:last-child) {
  border-right: #000000 3px solid;
}

.plan .plan-menu-item.active-item {
  font-weight: 700;
  color: #19216c;
  font-weight: bold;
}

.plan .plan-button, .plan .plan-mobile-button {
  color: #f22359;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  right: 38px;
  bottom: 4px;
}

.plan .plan-mobile-button {
  display: none;
  position: unset;
}

.plan .plan-button a, .plan .plan-mobile-button a {
  color: #f22359;
}

.plan .plan-item-image-wrap {
  position: relative;
}

.plan .plan-item-image {
  position: relative;
  background-size: cover;
  background-image: url('/planBook/plans-img-1.png');
  background-repeat: no-repeat;
  padding-bottom: 53.57%;
}

.plan .plan-item-image-title {
  position: absolute;
  top: 30px;
  left: 24px;
  padding: 5px 15px;
  background: rgba(255, 255, 255, 0.3);
  color: #19216c;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

.plan .like {
  position: absolute;
  top: 30px;
  right: 24px;
  cursor: pointer;
}

.plan .plan-item-title {
  color: #19216c;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 40px;
}

.plan .plan-content {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45%;
}

.plan-list-item-wrap {
  padding: 15px;
}

.plan .plan-list-item {
  background: #f7f7f7;
  box-shadow: 0 10px 5px 0px rgba(0, 0, 0, 0.1);
}

.plan .plan-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan .plan-item-value {
  font-size: 40px;
  font-weight: bold;
}

.plan .plan-item-value span {
  font-size: 47px;
  color: #19216c;
}

.plan .plan-item-cost {
  transform: translate(10px, -8px);
}

.plan .plan-item-currency {
  font-weight: 700;
  font-size: 23px;
}

.plan .plan-item-description {
  font-size: 24px;
  padding-bottom: 35px;
}

.plan .plan-list-container {
  margin-top: 60px;
  width: 120%;
}

.plan .plan-item-button {
  font-size: 24px;
}

.plan .plan-item-button .button {
  width: 200px;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sales-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
  min-height: 150px;
}

.sales-body, .sales-body a {
  background: #fcfcfc;
  color: #272f75;
  font-weight: 500;
}

.sales-body .sales-title {
  font-size: 41px;
  margin-top: 50px;
}

.sales-body .sales-description {
  margin-bottom: 22px;
  font-size: 40px;
  text-transform: uppercase;
}

.sales-body .sales-text {
  font-size: 76px;
  font-weight: 600;
}

/deep/ .prev-arrow, /deep/ .next-arrow {
  position: absolute;
  z-index: 999;
  width: 61px;
  height: 61px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  top: 50%;
  margin-top: -31px;
}

/deep/ .prev-arrow {
  background-image: url('/prev-arrow.png');
  left: 50px;
}

/deep/ .next-arrow {
  background-image: url('/next-arrow.png');
  right: 50px;
}

@media (max-width: 1199px) and (min-width: 992px) {
  .plan .plan-button {
    position: unset;
    margin-top: 20px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .plan .plan-button {
    position: unset;
    margin-top: 20px;
  }

  .plan .plan-item-image-title {
    font-size: 20px;
  }

  .plan .like {
    width: 40px;
  }

  .plan .plan-item-button .button {
    width: 170px;
  }
}

@media (max-width: 767px) {
  .plan .plan-list-container {
    width: 100%;
  }

  /deep/ .next-arrow {
    right: 50px;
  }

  .plan .plan-item-image-title, .plan .plan-item-title, .plan .plan-button {
    font-size: 28px;
  }

  .plan .plan-item-description {
    font-size: 22.5px;
  }

  .plan .plan-item-value span {
    font-size: 43.7px;
  }

  .plan .plan-item-value {
    font-size: 37.6px;
  }

  .plan .plan-item-currency {
    font-size: 26.6px;
  }

  .plan .plan-item-button {
    font-size: 26.3px;
  }

  .plan .plan-button {
    display: none;
  }

  .plan .plan-mobile-button {
    display: block;
    text-align: center;
    margin-top: 40px;
    font-size: 28px;
  }

  .plan {
    margin-top: 90px;
  }

  .sales-body .sales-text {
    font-size: 50px;
  }

  .sales-body .sales-description {
    margin-bottom: 50px;
  }

  .pink-button.book {
    margin-bottom: 0;
  }
}


@media (max-width: 575px) {

  .plan .plan-menu-item {
    font-size: 18px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .plan .plan-item-image-title, .plan .plan-item-title, .plan .plan-button {
    font-size: 18px;
  }

  .plan .plan-content .plan-item-image-title {
    font-size: 18px;
    padding-bottom: 25px;
  }

  .plan .plan-item-description {
    font-size: 15px;
    padding-bottom: 20px;
  }

  .plan .plan-content {
    padding: 15px;
  }

  .plan .plan-item-value {
    display: flex;
  }

  .plan .plan-item-currency, .plan .plan-item-value, .plan .plan-item-value span {
    font-size: 20px;
    transform: unset;
  }

  .plan {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .plan .block-title {
    margin-bottom: 30px;
  }

  .plan .plan-list-container {
    margin-top: 35px;
  }

  .sales-body .sales-text {
    font-size: 34px;
  }

  .sales-body .sales-description {
    margin-bottom: 15px;
    font-size: 22px;
  }

  .pink-button.book {
    font-size: 24px;
    margin-bottom: 0px;
  }

  .plan .plan-item-button {
    font-size: 16px;
  }

  .plan .plan-item-button .button {
    width: 120px;
    height: 50px;
  }

  .plan .like {
    top: 15px;
    right: 15px;
  }

  .plan .plan-item-image-title {
    top: 15px;
    left: 15px;
    font-size: 13px;
  }

  .sales-body .sales-title {
    font-size: 30px;
    margin-top: 20px;
  }
}
.plan .plan-list-container {
width: 100%;
}
</style>
