<template>
  <div class="itinerary body">
    <Banner/>
    <Content/>
  </div>
</template>

<script>
  import Banner from '~/components/pages/itinerary/Banner.vue';
  import Content from '~/components/pages/itinerary/content';

  export default {
    name: "itinerary-index",
    components: {
      Banner,
      Content
    }
  }
</script>

<style scoped>

</style>
