<template>
  <div class="see-and-experience">
    <div class="top">
      <h1 class="title">SEE & EXPERIENCE</h1>
      <input placeholder="Search">
    </div>

    <SeeExperience class="experience"  />
    <blogItemActions />
    <SeeExperience class="experience" />
    <blogItemActions />

  </div>
</template>

<script>
import SeeExperience from '~/components/pages/home/SeeExperience'
import blogItemActions from "~/components/pages/blog/blog-item-actions.vue"


export default {
  name: 'see-and-experience',
  components: {
    SeeExperience,
    blogItemActions
  },
  data() {
    return {
    }
  }
}
</script>

<style scoped>
.see-and-experience{
  /* padding-bottom: 90px; */
}
.top{
  display: flex;
  flex-direction: column;
  align-items: center;

}
/deep/ .experience .experience-main-title{
  display: none;
}
.title{
  color: #19216c;
  font-size: 65px;
  padding-bottom: 65px;
  margin-top: 100px;
  font-weight: bold;
  text-transform: none;
  text-align: center;
}
.experience{
    /* margin-top:90px */
}
/deep/ .experience .experience-button a{
  display: none;
}
/deep/ .container-fluid.padding-style{
  padding-left: 54px;
}
/deep/ #see-and-experience{
  margin-top: 60px;
}
input{
  width: 94%;
  border: none;
  font-size: 30px;
  border-bottom: 2px solid #2e3999;
  background: #f1f1f1 url('/search-experience.png') no-repeat right 25px center;
  padding: 15px 25px;
  color: #2e3999;

}
.blog-item-actions{
  margin-left: 55px;
  margin-top: 70px;
}
.action{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 70px;
  padding-left: 54px;
}
.action .variable{
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background-color: #f22359;
  color: #fff;
  position: absolute;
  top: -9px;
  right: -7px;
}
.variable span{
  font-size: 12px;
}
.action .btn{
  margin-left: 70px;
  position: relative;
  width: 44px;
  height: 40px;
  padding: 0;
}
.action .btn:first-child{
  margin-left: 0;
}
.action img{
  width: 100%;
  height: 100%;
}
.icon-dislike{
  transform: translateY(10px);
}
@media (max-width: 1650px) and (min-width: 1200px){
  .title{
    font-size: 48.5px;
    margin-top: 85px;
    padding-bottom: 45px;
  }
  input{
    width: 92%;
  }
  .blog-item-actions{
    margin-top: 50px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .title{
    font-size: 39px;
    margin-top: 65px;
    padding-bottom: 35px;
  }
  input{
    width: 90%;
  }
  .blog-item-actions{
    margin-top: 40px;
  }
}
@media (max-width: 991px){
  .title{
    font-size: 40px;
    margin-top: 80px;
    padding-bottom: 65px;
  }
  .action{
    padding-left: 10px;
  }
  input{
    width: 95%;
    padding: 10px 10px;

  }
  .blog-item-action{
    margin-left: 20px;
    margin-top: 20px;
  }
  /deep/ .experience-item{
    width: 260px;
  }
  /deep/ .container-fluid.padding-style{
    padding-left: 10px;
  }
 /deep/ .experience-title{
    margin: 15px 10px 5px;
    padding-left: 0;
 }
  .action .variable{
    top: -10px;
    right: -10px;
  }
}
@media (max-width: 575px){
  .title{
    font-size: 30px;
    margin-top: 60px;
    padding-bottom: 20px;
  }
  input{
    width: 92%;
  }
  .action .btn{
    width: 34px;
    height: 30px;
    margin-left: 50px;

  }
  /deep/ .experience-item{
    width: 140px;
  }

}


</style>
